[2017-06-05 02:34] huningxin opened #1 "opencv_js.js export module name is not 'cv'"

[2017-06-05 02:36] huningxin opened #2 "Test opencv_js.js against https://github.com/ucisysarch/opencvjs/tree/master/test"

[2017-06-05 02:37] huningxin opened #3 "Generate binding.cpp of js module"
Generate binding.cpp from opencv module header files and template.

[2017-06-05 02:38] huningxin opened #4 "Integrate opencvjs tests into js module"
refer to https://github.com/opencv/opencv/tree/master/modules/python/test, using node.js

[2017-06-06 08:50] huningxin commented on #1
Fixed by https://github.com/huningxin/opencv/commit/7cc7f5c48a4903db2d23513cad375cf447bc8450

[2017-06-06 08:50] #1 closed, assigned to huningxin

[2017-06-07 03:03] pancx commented on #2
move to #4

[2017-06-07 03:03] #2 closed, assigned to pancx

[2017-06-07 03:07] huningxin commented on #2
@pancx , please log what you did and the results of your testing here for record. Thanks!

[2017-06-07 05:31] pancx commented on #2
First, copy the test files from ucisysarch/opencvjs/test.
Then modify the files to test opencv_js.js.
a. rename cv.js to opencv_js.js
b. add window.cv = cv(Module);
c. delete script async attribute.
d. modify data file's path.
Finally, all tests passed.

[2017-06-07 06:16] huningxin commented on #2
Looks good. Thanks!

[2017-06-12 02:53] huningxin opened #8 "Cannot find module `qunit` when run node.js tests.js"
We may need a package.json to set the qunit dependency.

[2017-06-12 06:05] huningxin opened #10 "Define functions exposing to JS binding"

[2017-06-12 06:06] huningxin opened #11 "Provide JS helpers for highgui"

[2017-06-12 06:06] huningxin opened #12 "Provide JS helpers for videoio"

[2017-06-12 06:08] huningxin opened #13 "JS tutorial infrastructure"

[2017-06-12 06:11] huningxin opened #14 "Build with standard emscripten"
Currently it uses emscripten with patch: https://github.com/ucisysarch/opencvjs/blob/master/patch_emscripten_master.diff

[2017-06-12 06:11] huningxin opened #15 "JS tutorial for High Level GUI"

[2017-06-12 06:11] huningxin opened #16 "JS tutorial for image"

[2017-06-12 06:12] huningxin opened #17 "JS tutorial for core"

[2017-06-12 06:13] huningxin opened #18 "JS tutorial for image processing - part 1"

[2017-06-12 06:13] huningxin opened #19 "JS tutorial for feature detection"

[2017-06-12 06:14] huningxin opened #20 "JS tutorial for object detection"

[2017-06-12 06:14] huningxin opened #21 "JS tutorial for video analysis"

[2017-06-12 06:15] huningxin opened #22 "JS tutorial for ML"

[2017-06-12 06:19] pancx commented on #4
First, support to run tests on browser
a. copy the test files from ucisysarch/opencvjs/test.
b. rename cv.js to opencv.js
c. create preloaded file before using.
Second, support to run tests on Node.js
a. add package.json to add dependence of qunit.
b. add tests.js to require qunit and auto run tests.
c. in tests, require opencv.js as cv when the envrionment is Node.js
Usage:
npm install
node tests

[2017-06-12 06:51] sajjadt opened #23 "OpenCV.JS API V2"
We need a new API with modern JavaScript in mind. The existing API is tied to the original C++ API which is not ideal for JS world. Consider the following inspiring example taken from the tests.

[code]

Looking at ```cv.calcHist``` function, we can observe several issues.

1. It is based on C++ syntax. At the very least Python API is preferred, since I assume it is the most popular version. For c

[2017-06-12 08:06] #8 closed, assigned to pancx

[2017-06-13 08:27] pancx opened #26 "Integrate with OpenCV buildbot"

[2017-06-15 05:48] huningxin commented on #4
Good 1st step to have initial tests imported and integrated into the opencv. We may need to add more tests later. Let's close.

[2017-06-15 05:48] #4 closed, assigned to pancx

[2017-06-15 05:50] huningxin commented on #3
Pushed https://github.com/huningxin/opencv/commit/3c411096909e11b835d0e981f5fb15dfe93fbf57 and https://github.com/huningxin/opencv/commit/c9c9289f23eef7d940e5998936e4a75525ad1da9 to support generate binding.cpp by scanning the headers.

There are some workarounds. Will revisit them later.

[2017-06-15 05:50] #3 closed, assigned to huningxin

[2017-06-15 05:57] huningxin commented on #10
Refer to https://docs.google.com/spreadsheets/d/1uUbKcXBRVDX9oHp6cTCvvSqozqz42BaRcznwxwGFUEM/edit#gid=0

[2017-06-16 06:12] huningxin opened #27 "Support WebAssembly"

[2017-06-16 06:16] huningxin commented on #10
@sajjadt , do we only export functions marked in pink in above spreadsheet?

[2017-06-16 06:20] huningxin commented on #14
@sajjadt , could you please tell us which part of opencv.js depends on this patch? Thanks!

[2017-06-16 06:54] huningxin commented on #15
Refer to http://docs.opencv.org/3.2.0/da/d6a/tutorial_trackbar.html

@pancx , is this one you mentioned?

[2017-06-16 06:59] huningxin commented on #15
We may use HTML range input, see https://www.w3schools.com/jsref/dom_obj_range.asp

[2017-06-16 08:21] huningxin commented on #15
- [x] convert image to Mat in JS (similar to imread) #28
- [x] show Mat in JS (similar to imshow) #29
- [x] integrate with HTML range input

[2017-06-16 08:40] huningxin opened #28 "Implement imread in JS"

[2017-06-16 08:41] huningxin opened #29 "Implement imshow in JS"

[2017-06-16 09:41] pancx commented on #11
A method for reference https://docs.google.com/a/intel.com/document/d/163-HNl_XHqJ2-qhyGGRr1O7klWjN6FPKz6cJdZw40Ss/edit?usp=sharing

[2017-06-16 09:46] pancx commented on #13
#25   I hava add an intro page of OpenCV-JavaScript, witch contains how to build opencv.js, how to test it on web and node, how to build tutorials in html.

[2017-06-16 09:48] huningxin commented on #13
It's great. Then close this one. Thanks!

[2017-06-16 09:48] #13 closed, assigned to remember08

[2017-06-19 07:32] huningxin opened #30 "Use hdr_parser.py of python module"
Use the usage of hdr_parser.py of python module instead of keeping a js specific copy, similar to java module.

[2017-06-20 07:18] pancx commented on #28
Here is a method to transfer the image in web to cv.Mat.
ImageData interface of HTML canvas element represents the underlying pixel data of an area of a canvas element.
We can use the data of ImageData to construct cv.Mat, just like below.
[code]

But canvas only support 8-bit UInt RGBA image.
And how to load image from a hyperlink  still need to be investigated.

[2017-06-20 08:06] pancx commented on #29
As imread #28 , we can use the data of ImageData to transfer cv.Mat to canvas, just like below.
[code]
But ImageData only support 8-bit UInt RGBA  image, we should manually convert mat
to cv.CV_8UC4 type at first.
[code]
So, we may provide a helper function to detect the type of mat and convert it to ImageData.

[2017-06-20 16:15] huningxin commented on #10
I propose to use a white list to control the classes and functions to export without adding new directives. The white list is within `js` module.

[2017-06-20 16:16] huningxin opened #32 "Auto generate anonymous enums binding"

[2017-06-21 01:52] huningxin opened #33 "Add JS functions into manual"
refer to : http://docs.opencv.org/2.4/modules/core/doc/operations_on_arrays.html

```void absdiff(InputArray src1, InputArray src2, OutputArray dst)```

[2017-06-21 02:46] huningxin commented on #10
Paste @sajjadt 's original idea here. Please feel free to update.

"
I've also attached the list of important OpenCV functions that we want in our binding. This helps making the generated binary much smaller. We also want to cover only these functions in tutorials. To generate bindings for these functions, I suggest to define a new Macro e.g. CV_WRAP_JS and annotate the functions with it. Then bin

[2017-06-21 02:47] huningxin commented on #10
Another way might be WebIDL Binder of emscripten: https://kripken.github.io/emscripten-site/docs/porting/connecting_cpp_and_javascript/WebIDL-Binder.html. I will do some investigation and report back.

[2017-06-21 23:50] sajjadt commented on #14
Two changes are made:
https://github.com/ucisysarch/opencvjs/blob/master/patch_emscripten_master.diff#L1
First modification to  Bind.h is to provide support for dynamic inheritance between C++ classes. We add an attribute for those cases and based on that proper cast (static_cast or dynamic_cast) will be performed.

https://github.com/ucisysarch/opencvjs/blob/master/patch_emscripten_master.diff#L5

[2017-06-21 23:58] sajjadt commented on #29
We also like the function to have this signature ```void imshow(String winname, Mat mat)```. It might be good to have other helper functions such as ```namedWindow``` which create a canvas as well.

List of all the UI functions can be accessed here:
http://docs.opencv.org/2.4/modules/highgui/doc/user_interface.html

[2017-06-22 00:59] #30 closed, assigned to huningxin

[2017-06-22 01:16] huningxin commented on #10
Send #34 as white list solution which is within `js` module.

The output `opencv.js` is now 6.6 MB.

@sajjadt , please take a look.

[2017-06-22 11:20] sajjadt commented on #10
Looks nice! Library size is still high, by closing #27 it's going to shrink a lot and become acceptable.

[2017-06-23 08:37] huningxin opened #35 "Add the JS unit test for core module"

[2017-06-23 09:12] pancx opened #36 "transfer image data to mat.data"

[2017-06-26 08:56] huningxin commented on #23
I had an investigation, it shows we can use `std::vector<T> vecFromJSArray(val v)` (https://kripken.github.io/emscripten-site/docs/api_reference/val.h.html) to implement this feature.

I manually modified the wrapper of `calcHist` in `bindings.cpp` to
[code]

It passes the code
[code]

@sajjadt , please take a look. It is OK. I am going to modify the `embindgen.py` to support it.

[2017-06-26 23:18] sajjadt commented on #23
Looks pretty good to me!

[2017-06-27 01:38] pancx commented on #36
Using canvas ImageData to transfer image data to mat.data is limited.
1. only 8-bit rgba image supported.
2. the data should be continuous storage
Other ways to implement imread still need to be investigated , but it is not urgent.

[2017-06-27 01:50] pancx opened #37 "cv::Mat clone() gives wrong value"
While using clone(), it gives wrong value sometimes. For example, in featrues_2d.html line 179, change img to img.clone(), there will be some wrong value in the row 1 of the output image, just like the attach file.

![new bitmap image](https://user-images.githubusercontent.com/16699894/27567311-94818120-5b1d-11e7-8eeb-68c67bb04569.jpg)

[2017-06-27 01:59] pancx opened #38 "Implement inline interactive tutorials"
We need interactive tutorials, which embed html elements and let people try the code in the tutorial pages .
But now, markdown doesn't support html5, including many html elements we need.

As a temporary solution, I will make independent interactive  pages, and give the link in tutorial pages.

[2017-06-27 03:00] #10 closed, assigned to huningxin

[2017-06-27 03:03] ganwenyao opened #39 "11 test cases failed after merge #34"

[2017-06-27 03:04] ganwenyao commented on #39
test result log:
[code]

[2017-06-27 04:40] huningxin opened #40 "Introduce CV_WRAP_JS and annotate the functions exposing to JS"
Paste @sajjadt 's original idea here. Please feel free to update.

"
I've also attached the list of important OpenCV functions that we want in our binding. This helps making the generated binary much smaller. We also want to cover only these functions in tutorials. To generate bindings for these functions, I suggest to define a new Macro e.g. CV_WRAP_JS and annotate the functions with it. Then bin

[2017-06-27 04:42] huningxin commented on #10
@sajjadt , @pancx merged the #34 for not blocking the test cases development. I opened #40 to track your proposal. Let's keep discussion there.

[2017-06-27 04:50] sajjadt commented on #40
Can we handle #33 with current function whit list approach?

[2017-06-28 08:21] ganwenyao opened #42 "imwrite,imread in test_io.js should be exposed but not"

[2017-06-28 08:21] ganwenyao opened #43 "BackgroundSubtractorMOG2 in test_video.js has error"

[2017-06-28 13:38] #39 closed, assigned to ganwenyao

[2017-06-28 13:38] huningxin commented on #40
Good point. We need to investigate it and report back.

[2017-06-29 01:09] sajjadt commented on #37
@pancx  Hmm, good catch. What algorithm is used to generate the right picture? Seems like a filter or color conversion.

[2017-06-29 02:16] pancx commented on #22
ML module is not exposed. Close this one.

[2017-06-29 02:16] #22 closed, assigned to nobody

[2017-06-29 02:17] pancx commented on #19
feature 2d is not exposed. close this issue.

[2017-06-29 02:17] #19 closed, assigned to nobody

[2017-06-29 02:18] pancx commented on #16
This is duplicated by high GUI tutorial. Close this one.

[2017-06-29 02:18] #16 closed, assigned to nobody

[2017-06-29 02:41] pancx commented on #37
@sajjadt  it is mser algorithm. But I find it has no connection with algorithm. When transfer the data of 4 channels image, it will occur.
For example, in img_proc.html makeBGRA()
'''
cv.cvtColor(src, res, cv.ColorConversionCodes.COLOR_RGBA2BGRA.value, 0);
'''
The wrong value will appear.
![new bitmap image](https://user-images.githubusercontent.com/16699894/27669065-6b5dc74a-5cb7-11e7-885b-f67a34

[2017-06-29 02:47] pancx opened #44 "Update Introduction page in tutorials"
We need to introduce more  of OpenCV-JavaScript and OpenCV-JavaScript Tutorials,  just like OpenCV-Python.

[2017-06-29 07:11] huningxin commented on #23
#45 fixes item 2 of the proposal. Please take a look.

[2017-06-29 07:26] sajjadt commented on #37
@pancx It worth checking that we are not getting the same erroneous result in native build of OpenCV. Maybe there is a bug there.

[2017-06-30 03:03] ganwenyao commented on #35
51 Functions(Light red) need to be tested and 14 Functions(comment covered) have  been tested.
https://docs.google.com/spreadsheets/d/1BGsasC0Afd_sS2lljt7GVx1cl8VUwAfBlVtddtXsfYM/edit?usp=sharing

[2017-06-30 03:11] ganwenyao opened #46 "Add the JS unit test for Image Processing module"
62 Functions(Light red)  need to be tested and 14 Functions(comment covered) have  been tested.
https://docs.google.com/spreadsheets/d/1BGsasC0Afd_sS2lljt7GVx1cl8VUwAfBlVtddtXsfYM/edit?usp=sharing

[2017-06-30 03:13] ganwenyao opened #47 "Add the JS unit test for Object Detection module"
13 Functions(Light red) need to be tested and 6 Functions(comment covered) have  been tested.
https://docs.google.com/spreadsheets/d/1BGsasC0Afd_sS2lljt7GVx1cl8VUwAfBlVtddtXsfYM/edit?usp=sharing

[2017-06-30 04:07] ganwenyao opened #48 "Add the JS unit test for Video module"
11 Functions(Light red) need to be tested and 0 of them have  been tested.
https://docs.google.com/spreadsheets/d/1BGsasC0Afd_sS2lljt7GVx1cl8VUwAfBlVtddtXsfYM/edit?usp=sharing

[2017-06-30 09:06] ganwenyao opened #50 "10 Functions(blue) in test_video.js have been exposed but they don't need to be exposed"
https://docs.google.com/spreadsheets/d/1BGsasC0Afd_sS2lljt7GVx1cl8VUwAfBlVtddtXsfYM/edit?usp=sharing

[2017-06-30 14:49] huningxin opened #51 "Improve JS code editor in tutorial"
Current tutorial uses plain text area DOM element. It shows many spell check errors and doesn't support JS syntax highlights etc.,

One possible solution is to use  https://ace.c9.io/.

It is used by many online JS IDE and tutorials: https://ace.c9.io/#nav=production

[2017-07-03 02:58] huningxin commented on #51
An example of using ace editor in imshow tutorial: https://huningxin.github.io/imshow_ace_editor/tutorial_js_interactive_imshow.html

[2017-07-03 08:13] pancx commented on #21
In Opencv-Python tutorials, the section of Video Analysis contains three tutorials, Meanshift and Camshift, Optical Flow, Background Subtraction.
Functions mainly included,
- cv.meanShift
- cv.CamShift
- cv.calcOpticalFlowPyrLK
- cv.calcOpticalFlowFarneback
- cv.createBackgroundSubtractorMOG2 (not exposed now)
- BackgroundSubtractor.apply
- cv.createBackgroundSubtractorGMG (no need)

In addition,

[2017-07-04 01:34] pancx commented on #38
Gang found that \htmlonly command could insert html in markdown. I will try it.

[2017-07-04 01:35] pancx commented on #28
Use --post-js command to insert js functions to opencv.js.

[2017-07-04 01:55] huningxin commented on #43
The root cause is the `BackgroundSubtractorMOG2` constructor is not exposed correctly. I will fix it.

[2017-07-04 02:34] pancx commented on #21
We need four tutorials for Video Analysis

- [x] Video input & output - use WebRTC #58
- [x] Meanshift and Camshift - cv.meanShift, cv.CamShift
- [x] Optical Flow - cv.calcOpticalFlowPyrLK, cv.calcOpticalFlowFarneback
- [x] Background Subtraction - cv.BackgroundSubtractorMOG2, BackgroundSubtractor.apply

[2017-07-04 02:52] remember08 commented on #17
write a list of contents in the Core Functionality Modules.

- mat in opencv.js
- how to scan images
- mask operations of matrices
- core operations with images
- arithmetics operations with images

[2017-07-04 04:05] huningxin opened #53 "Build error of copy_js_interactive_tutorials"

[2017-07-04 05:15] huningxin commented on #38
It's great! Thanks @pancx @remember08 !

Please also paste a link to the page of `\htmlonly` as reference.

[2017-07-04 05:23] huningxin commented on #48
Current test should cover constructor of BackgroundSubtractorMOG2.

[2017-07-04 05:28] pancx commented on #38
\htmlonly and \endhtmlonly http://www.stack.nl/~dimitri/doxygen/manual/commands.html#cmdhtmlonly

[2017-07-04 05:29] huningxin commented on #42
test_io.js is not executed.

[2017-07-04 05:30] huningxin commented on #37
@pancx , any updates?

[2017-07-04 05:31] #53 closed, assigned to huningxin

[2017-07-04 06:25] huningxin commented on #33
@sajjadt , I cannot find such style in 3.x doc: http://docs.opencv.org/3.2.0/. Could you please point it out? Thanks!

[2017-07-04 06:27] huningxin commented on #26
Do we really need this? Any reference to other language bindings?

[2017-07-04 06:28] huningxin commented on #21
Good list. Please file issue for each item and link them in the list. Thanks!

[2017-07-04 06:29] huningxin commented on #17
Good list. Please file issue for each item and link them here. Thanks!

[2017-07-04 06:34] huningxin commented on #14
@sajjadt , thanks for explanation! Would you please upstream these fixes to emscripten? So opencv.js will use emscripten without patch.

[2017-07-04 06:36] huningxin commented on #38
Let's target it in M3.

[2017-07-04 06:38] huningxin opened #56 "Make PR to OpenCV"
The PR to land js module to official opencv repo.

[2017-07-04 06:38] huningxin opened #57 "PR of js tutorial"
The PR of js tutorial to official opencv repo.

[2017-07-04 06:42] pancx commented on #42
@ganwenyao Now, imread & imshow are exposed #55 , please try it.

[2017-07-04 06:47] pancx opened #58 "Implement tutorial of video input & output"
It is the first step of #21  .
And we will investigate WebRTC to implement it.

[2017-07-04 09:04] pancx commented on #58
Taking still photos with WebRTC,
https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos

[2017-07-04 14:02] huningxin opened #59 "Tutorial throws exception while opencv.js is downloading"
It would be better to disable "execute" UI, e.g. "try it" of "Getting Started with Images", while opencv.js is downloading and re-enable it after ready.

[2017-07-04 14:05] huningxin commented on #38
Fixed by https://github.com/huningxin/opencv/pull/55.

See https://huningxin.github.io/opencv_docs/tutorial_js_table_of_contents_gui.html

[2017-07-04 14:05] #38 closed, assigned to nobody

[2017-07-04 14:05] huningxin commented on #29
Fixed by https://github.com/huningxin/opencv/pull/55

[2017-07-04 14:05] #29 closed, assigned to pancx

[2017-07-04 14:06] huningxin commented on #28
Fixed by https://github.com/huningxin/opencv/pull/55

[2017-07-04 14:06] #28 closed, assigned to pancx

[2017-07-04 14:07] huningxin commented on #15
All sub tasks done. Published at https://huningxin.github.io/opencv_docs/tutorial_js_table_of_contents_gui.html

[2017-07-04 14:07] #15 closed, assigned to pancx

[2017-07-04 14:08] huningxin commented on #11
duplicated by #29 and #28

[2017-07-04 14:08] #11 closed, assigned to pancx

[2017-07-04 14:15] #43 closed, assigned to huningxin

[2017-07-05 02:39] ganwenyao opened #60 "[Mat] constructor doesn't support Scalar parameter"
In C++, there is a Mat constructor :

[code]
but there is not a similar cv.Mat constructor in opencv.js.

[2017-07-05 02:46] ganwenyao opened #61 "cv.imshow() doesn't support Mat with types except CV_8UC4"
Type transformation should be included in  cv.imshow().

[2017-07-05 02:50] sajjadt commented on #60
This is due to a limitation on function overloading. We can only have one function with same number of parameters. Currently the following function is using that slot.

[code]

This decision is made for the sake of performance. By extending JS side (embind.js for instance)  it is possible to select functions based on the signature and not the parameters count.

[2017-07-05 02:52] sajjadt commented on #58
This can be used for the interoperability layer: https://github.com/webrtc/adapter
Few sample tests from Mozilla: https://mozilla.github.io/webrtc-landing/

[2017-07-05 02:54] ganwenyao commented on #18
In Opencv-Python tutorials,  there are 16 sections in image processing:
- [x] Changing Colorspaces
- [x] Geometric Transformations of Images
- [x] Image Thresholding
- [x] Smoothing Images
- [x] Morphological Transformations
- [x] Image Gradients
- [x] Canny Edge Detection
- [x] Image Pyramids
- [x] Contours in OpenCV
- [ ] Histograms in OpenCV
- [ ] Image Transforms in OpenCV
- [ ] Template Match

[2017-07-05 02:57] huningxin commented on #61
@ganwenyao , would you please specify the details? like what the API looks like and what parameters should be supported.

[2017-07-05 02:58] ganwenyao commented on #18
Functions in image process (keep updating):
https://docs.google.com/a/intel.com/spreadsheets/d/17brxaSvp88sEXCZjkYxI88OOXGQW_9Mwsw2D0abRi9o/edit?usp=sharing

[2017-07-06 00:56] sajjadt commented on #23
Here is a way to support default parameters and returning by value instead of reference. For this we need to create a wrapper for each function with a certain signature.

#### Supporting default parameters
We can use ```emscripten::val``` to support this feature as they can contain different types of values including undefined values.

Consider this function:
[code]
A binding to support default pa

[2017-07-06 00:56] sajjadt commented on #23
@huningxin What do you think?

[2017-07-06 02:27] #59 closed, assigned to nobody

[2017-07-06 02:29] huningxin commented on #60
@ganwenyao , would you please show some JS code that with and without this API supported? Thanks!

[2017-07-06 02:36] huningxin opened #64 "Create utils.js for common functions used in different tutorials"
Like
[code]

Put it into utils.js and different tutorial pages can share it.

[2017-07-06 02:36] huningxin commented on #50
Fixed by #52.

[2017-07-06 02:36] #50 closed, assigned to huningxin

[2017-07-06 03:14] huningxin commented on #23
Thanks for sharing your thoughts @sajjadt ! It is very helpful.

For "Supporting default parameters", can we use function overloading with arguments count? Just like https://github.com/kripken/emscripten/issues/604 and your investigation, doing it at runtime is not supported by embind and may introduce some performance cost.

I tried modified `cv.normalize` like:

wrapper code:
[code]
binding code

[2017-07-06 03:33] sajjadt commented on #23
This is a nice way to do it.

[2017-07-06 04:53] ganwenyao commented on #60
We can use the following JS function to replace the Mat constructor In C++:
[code]

[2017-07-06 05:39] pancx opened #65 "ENUM cv.CV_64F was not exposed"
Maybe it is a mistake in line 325, core_bindings.cpp
[code]

[2017-07-06 07:18] #65 closed, assigned to huningxin

[2017-07-06 07:31] pancx commented on #61
As far as I know, the native imshow only recognize the below numerical ranges of different cv.Mat types.
[code]
Then native imshow will map the above numerical ranges to [0, 255].
In addition, native imshow only could display mats with 1, 3, 4 channels.

I will implement this in cv.imshow, by using cv.Mat.convertTo and cv.cvtColor .

[2017-07-06 22:13] huningxin commented on #23
Move the default parameter feature to M4.

[2017-07-06 22:14] huningxin commented on #56
@sajjadt , any updates on the OpenCV PR template? Thanks!

[2017-07-06 22:32] huningxin opened #67 "Build warnings of no previous prototype for function"
146 warnings of "no previous prototype for function" generated, e.g.:
[code]

[2017-07-07 00:03] sajjadt commented on #56
We have received few guidelines that I just share here.

1. PR description should contain word "GSoC", project title and description of changes made, also it should mention student's mentor(s) (for ex. "@mshabuni"); it would be great to see some of results achieved (#[708](https://github.com/opencv/opencv_contrib/pull/708), #[752](https://github.com/opencv/opencv_contrib/pull/752), #[736](https://

[2017-07-07 00:21] sajjadt commented on #64
Can we just implement this feature using one ```imread``` and one ```imshow``` calls?  Same functions are used in both C++ and Ptyhon APIs and we want it here as well.

These two functions, should be part of another module, for instance highgui.js which is a web version for Highgui library..

[code]
[code]

then we can add  more functions such as, ```namedWindow``` [link](http://docs.opencv.org/2.

[2017-07-07 00:52] sajjadt opened #68 "Meta: Implementing HighGUI and Media IO functions"
Here's the list of all the functions provided by HighGui library. we need to implement a subset of them in JS. I've borrowed the list from [here](http://docs.opencv.org/2.4/modules/highgui/doc/highgui.html).

#### User Interface
        createTrackbar
        getTrackbarPos
        imshow
        namedWindow
        destroyWindow
        destroyAllWindows
        MoveWindow
        ResizeWindow

[2017-07-07 00:59] sajjadt commented on #68
Related [info](http://docs.opencv.org/3.0-beta/doc/user_guide/ug_intelperc.html) about supporting RealSense cameras from OpenCV 3 documentation.

[2017-07-07 02:41] pancx commented on #64
Good idea! I will create utils.js in js_assets folder. It will be copied to tutorials' target folder while making doxygen.
And use it by adding `<script src="utils.js"></script>` in tutorials.

[2017-07-07 05:08] huningxin opened #69 "Create comprehensive demos"
Create comprehensive demos for each category, like image processing, real-time video processing etc.,

[2017-07-07 05:31] sajjadt commented on #69
I add few categories and demo ideas that can be easily included.

1. Basic operations (blend, invert, color conversion)
2. Canny edge detector
3. Adaptive threshold or equalizeHistogram
4. HAAR object detector (for detecting faces)
5. Filters: erode, blur
6. Motion detection and tracking
7. Stats: histogram
8. Image transformations: image warp, change perspective,
9. Core: drawing?

[2017-07-07 05:40] huningxin commented on #60
By using `int row, int cols` instead of `Size` for constructor with `void* data`, we can accommodate 4 constructors, as
[code]
constructor with `const Scalar& s` is used in img processing examples. It is better to expose it.

@sajjadt , what do you think?

[2017-07-07 06:38] huningxin opened #71 "Set default images while allow user to upload images"

[2017-07-07 09:34] pancx opened #72 "Exposed enums as constants"
For example, now we expose `ColorConversionCodes::COLOR_BGR2BGRA` as emscripten enum, which should be used as `cv.ColorConversionCodes.COLOR_BGR2BGRA.value`.
If we expose it as a contant `cv.COLOR_BGR2BGRA`, it will be more convenient to use.

[2017-07-07 12:32] #61 closed, assigned to pancx

[2017-07-07 12:32] #64 closed, assigned to pancx

[2017-07-10 00:16] huningxin commented on #37
Native sample doesn't have this issue.
[code]

However, equivalent JS `clone` will have corrupted images.

[2017-07-10 00:23] huningxin commented on #37
From my understanding, the current `matFromArray` implementation might have some memory issue:
[code]
As http://docs.opencv.org/3.2.0/d3/d63/classcv_1_1Mat.html#a51615ebf17a64c968df0bf49b4de6a3a, the `Mat` will not own or copy the data. So `str.data()` will be released after this function returns which leads Mat points to invalid memory.

[2017-07-10 06:14] huningxin commented on #37
#74 attempts to fix it. However, it introduces another memory copy. So `matFromArray` will have two memory copies:
1. `std::string str = object["data"]["buffer"].as<std::string>();` copy memory from image data buffer to emscripten heap as string buffer.
2. `memcpy(mat.data, str.data(), mat.total()*mat.elemSize());` copy memory from string buffer to Mat managed buffer.

We can reduce to one memory

[2017-07-10 07:50] huningxin opened #75 "[Mat] "data" and friends should be properties instead of functions"
It more aligns to C++ API: http://docs.opencv.org/3.2.0/d3/d63/classcv_1_1Mat.html#a4d33bed1c850265370d2af0ff02e1564

[code]

[2017-07-10 07:50] ganwenyao opened #76 "[ImgProc] some functions should be in the white list"
Function Name | Location
------------ | -------------
cv.getRotationMatrix2D() | Geometric Transformations
cv.getPerspectiveTransform() | Geometric Transformations
cv.filter2D() | Smoothing Images
cv.morphologyEx() | Morphological Transformations
cv.getStructuringElement() | Morphological Transformations
cv.convertScaleAbs() | Image Gradients
cv.isContourConvex() | Contours
cv.minAreaRect() | Cont

[2017-07-10 07:53] huningxin commented on #76
@ganwenyao , thanks for reporting this issue. Could you please specify the usages or references to python tutorials which are using these functions?

[2017-07-10 08:32] ganwenyao commented on #76
@huningxin
* cv.getRotationMatrix2D() can find an affine matrix of 2D rotation.
* cv.getPerspectiveTransform()  can find the transformation matrix from 4 points on the input image and corresponding points on the output image.
* cv.filter2D() can convolve an arbitrary kernel with an image.
* cv.morphologyEx() can do Opening, Closing, Morphological Gradient and Top Hat morphological operation.
* cv.

[2017-07-10 23:11] huningxin opened #77 "[Mat] type name of data properties should be in upper case: data{8U,8S,16S,16U,32S,32F,64F}"
Two reasons:
1. it aligns to OpenCV constants where CV_{8U,16S,16U,32S,32F,64F}
2. it follows the lower camel case convention of JavaScript coding style

[2017-07-10 23:23] huningxin opened #78 "[Mat] matFromArray naming doesn't aligns to behavior"
`matFromArray` takes an image data. Its name would be `matFromImageData`

[2017-07-10 23:33] sajjadt commented on #75
It is also cleaner.

[2017-07-10 23:36] huningxin opened #79 "[Mat] support construction from JS array"
Sample code:
[code]
Exception
[code]

It expects a `UCharVector`. As API v2, it should take a `Uint8Array`.

[2017-07-11 00:01] sajjadt commented on #60
I like the way last three constructors are consistent in using rows and cols.

[2017-07-11 03:15] huningxin opened #81 "[Mat] element getters should follow lower camel case naming"
It aligns to JS API convention. E.g. `get_uchar_at` should be `getUcharAt`.

[2017-07-11 06:50] ganwenyao opened #82 "[ImgProc] different argument type between bindings and C++"
In C++
[code]
In bindings
[code]
* In C++, the arg2(InputArrayOfArrays contours) is vector<vector<Point>> type, but in bindings, arg2 is cv.MatVector type.
* In C++, the arg7(InputArray hierarchy) is vector\<Vec4i\> type, but in bindings, arg7 is cv.Mat type.
* noArray() is not supported in bindings.

[2017-07-11 07:07] #37 closed, assigned to huningxin

[2017-07-11 07:27] huningxin opened #83 "[Mat] ptr doesn't support {8S,16S,16U,32S,32F,64F} types"
Current `mat.ptr` only supports the uchar type. It doesn't support Mat with other types. It should expose ptr{8S,16S,16U,32S,32F,64F} as well.

[2017-07-11 07:32] huningxin opened #84 "[Mat] diag is not supported"
http://docs.opencv.org/3.2.0/d3/d63/classcv_1_1Mat.html#a024cc0510a4c61c7f266d4ab9fe13d7a
[code]

[2017-07-11 07:33] ganwenyao opened #85 "[ImgProc] Moments type are not exposed in bindings."
In bindings
[code]
Moments type are not exposed in bindings.

[2017-07-11 07:34] huningxin opened #86 "[Mat] getROI_Rect API name doesn't follow lower camel case"
Suggest to use lower camel case API naming:
[code]

[2017-07-11 07:39] huningxin opened #87 "[Mat] wrong parameter type of copyTo"
Test code:
[code]

Exception:
[code]

[2017-07-11 07:41] huningxin opened #88 "[Mat] setTo is not supported"
C++ API: http://docs.opencv.org/3.2.0/d3/d63/classcv_1_1Mat.html#a024cc0510a4c61c7f266d4ab9fe13d7a

[2017-07-11 07:44] huningxin opened #89 "[Mat] isContinuous is not supported"
C++ API: http://docs.opencv.org/3.2.0/d3/d63/classcv_1_1Mat.html#aa90cea495029c7d1ee0a41361ccecdf3

[2017-07-11 07:52] huningxin commented on #71
@pancx , could you fix that in imshow tutorial? Thanks.

[2017-07-12 06:17] #60 closed, assigned to huningxin

[2017-07-12 07:59] huningxin opened #95 "[ImgProc] Use Mat constructor with Scalar in color space inRange tutorial"
Given https://github.com/huningxin/opencv/issues/60, please update the tutorial to use this new constructor. Thanks.

[2017-07-12 08:37] ganwenyao opened #96 "[ImgProc] RotatedRect type are not exposed in bindings."

[2017-07-12 09:42] ganwenyao commented on #76
* cv.isContourConvex() can check if a curve is convex or not.
* cv.rectangle(rect) can draws a rectangle with Rect.
* cv.minAreaRect() finds a rotated rectangle of the minimum area.
* cv.boxPoints() can finds the four vertices of a rotated rect. Useful to draw the rotated rectangle.
* cv.minEnclosingCircle() can find the circumcircle of an object.
* cv.fitLine() can fit a line to a set of points.

[2017-07-12 09:50] #67 closed, assigned to nobody

[2017-07-12 16:44] huningxin commented on #82
We need to exclude cv::Mat for vecFromJSArray.

noArray() support might be tricky as we don't support `InputOutputArray` yet.

[2017-07-13 02:52] huningxin commented on #23
When using JS array for Mat `[mat]` developers need to take care the life time of each Mat in the array. They need to delete each Mat in the array explicitly. However, when using `MatVector`, developers only need to delete the `MatVector` which will delete all the inside it.

For this reason, I would suggest we keep `MatVector`.

[2017-07-13 03:04] ganwenyao opened #100 "[ImgProc] Something wrong in cv.MatVector();"
[code]
@huningxin There is something wrong when I use cv.approxPolyDP(contours.get(20), polyMatVector.get(20), 3, true), but it works successfully when I use cv.approxPolyDP(contours.get(20), polyMat, 3, true).

[2017-07-13 03:43] ganwenyao opened #102 "[ImgProc] JS unit test for cv.moments()"
@huningxin Following code can test cv.moments().
[code]

[2017-07-13 06:37] huningxin commented on #100
@ganwenyao , in your case, `polyMatVector.get(20)` returns `undefined` as its size is 0 with default constructor `var polyMatVector = new cv.MatVector();`.

You can resize it by e.g. `polyMatVector.resize(21, new cv.Mat())`. Then `polyMatVector.get(20)` will return a Mat.

[2017-07-13 06:43] #85 closed, assigned to huningxin

[2017-07-13 07:33] ganwenyao commented on #100
@huningxin There is still something wrong in cv.approxPolyDP(contours.get(i), polyMatVector.get(i), 3, true).

[2017-07-13 07:41] #72 closed, assigned to nobody

[2017-07-13 07:41] #82 closed, assigned to nobody

[2017-07-13 07:42] huningxin commented on #102
Close this one by #94.

[2017-07-13 07:42] #102 closed, assigned to nobody

[2017-07-13 07:42] huningxin commented on #95
This one is closed by #99.

[2017-07-13 07:42] #95 closed, assigned to ganwenyao

[2017-07-13 07:43] huningxin commented on #71
@pancx , if it is fixed, please close this issue. Thanks!

[2017-07-13 07:56] pancx commented on #71
resolved in #92

[2017-07-13 07:56] #71 closed, assigned to pancx

[2017-07-13 09:14] pancx opened #104 "Show warning when the "tryit" code throw exception"
Users will never know errors occor, if they haven't opened the console.
So we should reminder users by emitting events in web.

[2017-07-14 01:53] huningxin commented on #96
@ganwenyao , which API use this type? Could you please provide the test code? Thanks!

[2017-07-14 01:56] huningxin opened #107 "[ImgProc] Replace enum with constants in tutorials"

[2017-07-14 01:56] huningxin opened #108 "[HighGUI] Replace enum with constants in tutorials"

[2017-07-14 02:00] huningxin opened #109 "[Doc] fails to load MathJax.js"
Temporally, we host docs at https://huningxin.github.io/opencv_docs/ which requires https URL of MathJax.js.

[2017-07-14 02:10] #109 closed, assigned to huningxin

[2017-07-14 02:21] #58 closed, assigned to nobody

[2017-07-14 02:30] huningxin commented on #21
We finished video io tutorials in M4, postpone this one to M5.

[2017-07-14 02:42] ganwenyao commented on #96
@huningxin It's the return parameter of cv.fitEllipse(). and cv.boxPoints() can finds the four vertices of a RotatedRect.

[2017-07-14 03:12] huningxin commented on #96
Thanks! And `cv::CamShift` also returns this type. I will take care of it.

[2017-07-14 08:08] #96 closed, assigned to nobody

[2017-07-14 08:12] huningxin commented on #100
We have workaround to use a mat to get the return value then push to the vector like
[code]
I will look into the failure of getting value of `polyMatVector.get(i)` later.

[2017-07-14 08:18] huningxin opened #112 "[Doc] Check whether cv is ready before register the onload event"
Current tutorials use following code to monitor opencv.js loading and enable UI when it is ready. e.g. in https://github.com/huningxin/opencv/blob/js/doc/js_tutorials/js_gui/js_image_display/js_image_display.markdown
[code]

It has issue that this code might be executed after `onload` event fired. So it is better to check whether cv is ready before register to `onload` event.
[code]

@pancx @ganwe

[2017-07-14 08:20] huningxin opened #113 "JS tutorial for image processing - part 2"
Remaining tasks from https://github.com/huningxin/opencv/issues/18

- [x] Contours in OpenCV
- [x] Histograms in OpenCV
- [x] Image Transforms in OpenCV
- [x] Template Matching
- [x] Hough Line Transform
- [x] Hough Circle Transform
- [x] Image Segmentation with Watershed Algorithm
- [x] Interactive Foreground Extraction using GrabCut Algorithm

[2017-07-14 08:22] huningxin commented on #18
This part is covered by https://github.com/huningxin/opencv/pull/80. Close this one. Follow up the remaining tutorials in #113

[2017-07-14 08:22] #18 closed, assigned to ganwenyao

[2017-07-14 08:29] huningxin commented on #23
For "Returning values instead of passing references", I would suggest to keep the passing references for this version of API. The reasons:
1. extra performance costs for objects creation, especially for array.
2. for multiple returning values, need to create one more array or object as container
3. returning values by passing references is desired by Web developers for performance reason, e.g. min

[2017-07-14 08:44] pancx commented on #108
Done in #114 .

[2017-07-14 08:44] pancx commented on #112
Done in #114

[2017-07-14 08:45] #108 closed, assigned to pancx

[2017-07-14 09:15] ganwenyao commented on #107
Fix all.

[2017-07-14 09:15] #107 closed, assigned to ganwenyao

[2017-07-15 02:32] sajjadt commented on #23
Good point about MatVector. We can keep it, though since programmers need to delete every mat object, it is not too much asking them to remove all mats within a vector as well!

I agree about the performance. Plus, I'm not sure if we can support a case like this.
Consider this function with two parameters: one input and one output array. ```cv_func(InputArray in, InputArray out)```

if we call it

[2017-07-15 02:37] sajjadt commented on #33
@huningxin Turns out they switched to Doxygen from Sphinx in OpenCV 3 and it is not possible to document Java/Python using Doxygen at the moment.

[2017-07-17 01:37] pancx commented on #104
Or provide an output box to display errors and warnings.

[2017-07-17 01:39] #112 closed, assigned to pancx, ganwenyao

[2017-07-17 07:10] ganwenyao opened #117 "[ImgProc] some opencv(js) functions are exposed to some improper opencv(C++) overloaded member functions"
* We need cv.calcHist (image, nimages, channels, mask, hist, dims, histSize, ranges, uniform = true, accumulate = false) but in bindings, it's exposed to cv.calcHist(image, channels, mask, hist, histSize, ranges, accumulate) which is an overloaded member function.
*  cv.calcBackProject() have similar problem.

[2017-07-17 07:14] ganwenyao opened #118 "[imread] Different order of channels between opencv(C++) and opencv(js)"
In opencv(C++), the order of channels is B G R, but in opencv(js), the order of channels is R G B.

[2017-07-17 07:37] pancx commented on #118
One solution is to return BGRA in cv.imread and convert it to RGBA again in cv.imshow.

[2017-07-19 09:02] ganwenyao commented on #76
* cv.minMaxLoc() can finds the global minimum and maximum in an array.
* cv.createCLAHE() is Contrast Limited Adaptive Histogram Equalization.
* cv.CV_MAT_DEPTH(dtype) in cv.normalize()
* cv.dft() cv.dct(): Fourier Transform
* cv.getOptimalDFTSize()  returns the optimal DFT size for a given vector size.
* cv.HoughLines() cv.HoughLinesP() cv.HoughCircles(): Hough Transform
* cv.convertTo() has no d

[2017-07-20 09:04] ganwenyao commented on #20
Following module should be included in utils.js
[code]

[2017-07-21 06:02] pancx commented on #118
I will emphasize this important difference in the tutorial of imread

[2017-07-21 08:34] pancx opened #119 "[video] BindingError in cv.calcOpticalFlowPyrLK"
cv.calcOpticalFlowPyrLK has three params for output, InputOutputArray nextPts, OutputArray status,
 OutputArray err. In reality, their types are vector of 2D points, vector of unsigned chars, vector of errors.
But we expose them all as cv.Mat.

[2017-07-24 08:48] ganwenyao commented on #119
BindingError {name: "BindingError", message: "Cannot pass "[object Object]" as a Mat", stack:
[code]

[2017-07-24 08:54] pancx opened #120 "[video] Provide video file for video analysis tutorials"
Video analysis tutorials need video files for demos.
But there is no video file in opencv source.
Should we provide video files or links or just screenshot?

[2017-07-24 09:01] pancx opened #121 "[ImgProc] cv::polylines is not exposed but needed in some tutorial"
In the tutorial of Camshift(video analysis), we need polylines to draw the result. But it is not exposed now.

[2017-07-25 01:42] ganwenyao commented on #104
We can use try-throw-catch like this:
[code]
The following picture is the result:
![pic](https://user-images.githubusercontent.com/26854899/28551833-0e587042-70b0-11e7-8012-f572f257238a.png)

[2017-07-25 05:31] pancx commented on #120
There are some videos in sample/data.
In addition, html5 <video> only supports Ogg, WebM(VP8/VP9) or MP4(H.264).

[2017-07-25 08:45] ganwenyao opened #122 "[ImgProc] Some default parameters should be exposed"
@huningxin

Name | Location
------------ | -------------
cv.morphologyDefaultBorderValue() | Morphological Transformations
INT_MAX | Contours
cv.CV_MAT_DEPTH(dtype)  | Histograms

[2017-07-25 08:48] ganwenyao opened #123 "cv.convertTo() has no default parameters"

[2017-07-25 08:51] pancx commented on #21
In OpenCV-Python tutorials, there are three background subtraction methods,
1. BackgroundSubtractorMOG
2. BackgroundSubtractorMOG2
3. BackgroundSubtractorGMG

1 and 3 have been not available in native opencv.
So, I will implement 2 only in the tutorial.

[2017-07-25 08:59] pancx commented on #21
Code demos
- [x] Meanshift
- [x] Camshift
- [x] Optical Flow - cv.calcOpticalFlowPyrLK #119 need fixing
- [x] Optical Flow - cv.calcOpticalFlowFarneback
- [x] cv.BackgroundSubtractorMOG2

[2017-07-25 09:20] ganwenyao opened #125 "Pictures looks a little different after processing by opencv(js) and opencv(C++)"
C++ code:
[code]
js code:
[code]
The left is js result, and the right is C++. You can see some different pixels.
![screenshot from 2017-07-25 17-08-54](https://user-images.githubusercontent.com/16699894/28565115-d37afc98-715d-11e7-9cc8-6934d882a6c9.png)

[2017-07-25 22:35] sajjadt commented on #14
I was not able to reproduce the second error in minimal tests; It seems something goes wrong with that previous build approach. I tested our new build script with un-patched Emscripten and there was no problem there. This issue does not affect us anymore, but I will continue investigation separately.

[2017-07-26 01:50] #23 closed, assigned to sajjadt

[2017-07-26 02:20] huningxin commented on #23
Got consensus with @sajjadt in sync meeting, close this issue.

[2017-07-26 02:21] huningxin commented on #20
@sajjadt mentioned in the sync meeting that classifier is able to load cascade file from memory. That would be good alternative to integrate with Web.

[2017-07-26 02:25] huningxin commented on #120
I would suggest to reuse the video files from opencv source. Can we convert them into web compatible one, say WebM?

[2017-07-26 02:31] huningxin commented on #76
As discussed in sync meeting, we will expose them. Let's follow up like this:
1. @huningxin will implement them in binding and report the file size difference.
2. @ganwenyao , please mark these functions in the google spreadsheet with specific color and notes in a column.
3. @sajjadt , please follow up with Vadim about these new functions.

[2017-07-26 02:36] huningxin commented on #40
Close this one, as we go with white list approach.

[2017-07-26 02:36] #40 closed, assigned to nobody

[2017-07-26 02:48] huningxin commented on #20
Close by https://github.com/huningxin/opencv/pull/124

[2017-07-26 02:48] #20 closed, assigned to pancx

[2017-07-26 02:51] pancx commented on #120
MP4 was more widely used. So I will convert some videos in opencv source to MP4(H.264), and put them in js_assets for demos.

[2017-07-26 06:51] huningxin commented on #76
opencv.js size without and with these functions: 7039927 vs. 7211107 bytes

It increases about 167 KB.

[2017-07-26 06:57] huningxin commented on #123
@ganwenyao , you mean Mat.convertTo() doesn't support default parameters, correct?

[2017-07-26 07:10] huningxin commented on #76
`minEnclosingCircle` is tricky, as http://docs.opencv.org/3.2.0/d3/dc0/group__imgproc__shape.html#ga8ce13c24081bbc7151e9326f412190f1, the third parameter is `float&` which returns the radius. However, according to https://github.com/kripken/emscripten/issues/611, embind doesn't support the non-const ref out parameters.

We may need to provide a wrapper to change the API signature in JS. Track it b

[2017-07-26 07:14] huningxin commented on #76
Similar issue to `minMaxLoc` http://docs.opencv.org/3.2.0/d2/de8/group__core__array.html#gab473bf2eb6d14ff97e89b355dac20707, it uses `double*` as return value. It's unfriendly for JS developer to provide the emscripten pointer to this API.

We may need to provide a wrapper to change the API signature in JS. Track it by https://github.com/huningxin/opencv/issues/127

[2017-07-26 07:25] huningxin commented on #76
`createCLAHE` will be exposed as constructor of `CLAHE` object.

[2017-07-26 07:29] huningxin opened #126 "Expose minEnclosingCircle in JS friendly way"
`minEnclosingCircle` is tricky, as http://docs.opencv.org/3.2.0/d3/dc0/group__imgproc__shape.html#ga8ce13c24081bbc7151e9326f412190f1, the third parameter is `float&` which returns the radius. However, according to kripken/emscripten#611, embind doesn't support the non-const ref out parameters.

We may need to provide a wrapper to change the API signature in JS.

[2017-07-26 07:30] huningxin opened #127 "Expose minMaxLoc in JS friendly way"
`minMaxLoc` http://docs.opencv.org/3.2.0/d2/de8/group__core__array.html#gab473bf2eb6d14ff97e89b355dac20707, it uses `double*` as return value. It's unfriendly for JS developer to provide the emscripten pointer to this API.

We may need to provide a wrapper to change the API signature in JS.

[2017-07-26 07:39] huningxin commented on #119
It looks like there are some variable renaming issue in your code. Please use `let`, e.g. `let status = new cv.Mat();` in sample code. It works for me.

[2017-07-26 07:44] #76 closed, assigned to huningxin, sajjadt, ganwenyao

[2017-07-26 07:52] pancx commented on #119
Window has member named status, which was passed to cv.calcOpticalFlowPyrLK(prevImg, nextImg, prevPts, nextPts, status, err)

[2017-07-26 07:58] huningxin commented on #119
Thanks for the inputs. So this is not an issue. Let's close it.

[2017-07-26 07:58] #119 closed, assigned to huningxin

[2017-07-26 08:30] #121 closed, assigned to huningxin

[2017-07-26 08:38] pancx commented on #87
This will be used in video analysis tutorials, so set it to M5.

[2017-07-26 08:43] pancx opened #131 "[vidoe] No default parameters in cv.BackgroundSubtractorMOG2"
We expose cv::createBackgroundSubtractorMOG2 as cv.BackgroundSubtractorMOG2.
But the default parameters were not exposed.

[2017-07-26 08:53] sajjadt opened #132 "Loading classifiers from Memory"
We can load classifier models from memory in OpenCV using ```CascadeClassifier::read```. This is however does not support old cascade format. We can export that  function plus ```cv::FileStorage``` or export a helper function like the following one.

[code]
This is how I instantiated the classifier in Nodejs.
[code]

[2017-07-27 00:55] #123 closed, assigned to huningxin

[2017-07-27 00:55] #122 closed, assigned to huningxin

[2017-07-27 01:07] huningxin commented on #23
One clarification about `MatVector`: as `std::vector` employs the copy semantic, it means when push_back a mat into MatVector, MatVector will copy it and maintain the copy, so when deleting MatVector, it will only take care of the copies, developer still needs to delete the original mats.

For example:
[code]

However, when using MatVector to get some returning value, developer doesn't need to del

[2017-07-27 02:38] #87 closed, assigned to huningxin

[2017-07-27 02:39] #131 closed, assigned to huningxin

[2017-07-27 02:52] huningxin commented on #121
`polylines` needs manual binding and new type `Point2fVectorVector`.
We could use `line` as alternative.

So we decide not to expose it. I will send a PR to revert.

[2017-07-27 05:22] #127 closed, assigned to huningxin

[2017-07-27 06:52] #126 closed, assigned to huningxin

[2017-07-27 07:57] sajjadt opened #139 "Exporting Emscripten before building"
I think in current version of how-to-build manual, we should mention that users need to export EMSCRIPTEN before configuring the project. or invoke cmake the following way:
[code]

[2017-07-28 01:50] ganwenyao opened #140 "cv.Mat().size() should be a JS Array object"
@huningxin
[code]

[2017-07-28 01:53] ganwenyao opened #141 "cv.merge() don't support 3 parameters"
cv.merge(mv, count, dst) is not supported.

[2017-07-28 07:00] ganwenyao commented on #76
These functions are marked with red color in the following google spreadsheet:
https://docs.google.com/spreadsheets/d/1BGsasC0Afd_sS2lljt7GVx1cl8VUwAfBlVtddtXsfYM/edit?usp=sharing

[2017-07-28 07:20] ganwenyao commented on #113
The following google spreadsheet includes functions which are used in image processing turotials:
https://docs.google.com/a/intel.com/spreadsheets/d/17brxaSvp88sEXCZjkYxI88OOXGQW_9Mwsw2D0abRi9o/edit?usp=sharing

[2017-07-28 13:06] huningxin opened #144 "Rebase to opencv"

[2017-07-28 13:08] huningxin commented on #113
This is closed by https://github.com/huningxin/opencv/pull/143. Nice job!

[2017-07-28 13:08] #113 closed, assigned to ganwenyao

[2017-07-28 13:09] huningxin commented on #21
This is closed by https://github.com/huningxin/opencv/pull/142. Nice job!

[2017-07-28 13:09] #21 closed, assigned to pancx

[2017-07-29 01:34] huningxin commented on #17
- [x] mat in opencv.js
- [x] how to scan images
- [x] mask operations of matrices
- [x] core operations with images
- [x] arithmetic operations with images

[2017-07-29 01:35] huningxin commented on #17
Add @pancx @ganwenyao to this task.

[2017-07-29 01:43] huningxin commented on #104
"gui feature" doesn't support this feature. @pancx , please add it. Thanks!

[2017-07-31 01:54] huningxin commented on #140
In C++, mat.size is `MatSize` class. As it uses returning semantic, it is reasonable to return a JS Array object instead of IntVector object.

I will fix that.

[2017-07-31 02:56] #140 closed, assigned to huningxin

[2017-07-31 03:00] pancx commented on #120
resolved by #142 .
In Optical Flow and Background Subtraction tutorials we use box.mp4 in opencv source directly.
For Meanshift and Camshift tutorial, I add a cup.mp4 cause there is no applicable video in opencv source.

[2017-07-31 03:00] #120 closed, assigned to pancx

[2017-07-31 04:57] sajjadt commented on #120
There are bunch of videos in opencv_extra [repo](https://github.com/opencv/opencv_extra). Also Xiph.org has raw video data that we can use.

[2017-07-31 05:52] #104 closed, assigned to pancx, ganwenyao

[2017-07-31 06:12] huningxin opened #147 "Bind cv.Scalar to JS array"
Current usage of Scalar
[code]
After binding to JS array
[code]

Pros:
* No need to new cv.Scalar
* No need to explicit delete() call

Cons:
* No constructor overloading, like new cv.Scalar(0)

[2017-07-31 06:12] huningxin commented on #147
@sajjadt @pancx @ganwenyao , any thoughts?

[2017-07-31 06:23] #118 closed, assigned to pancx

[2017-07-31 07:36] huningxin commented on #147
For the "no constructor overloading" con, one solution is to add a JS "Scalar" object in helpers, like
[code]

Then developer can use `cv.Scalar` as JS object instead of emscripten binding object
[code]

[2017-07-31 07:46] huningxin commented on #120
Good point, @sajjadt !

@pancx , could you please investigate whether we can reuse those videos?

[2017-07-31 08:52] huningxin commented on #14
I verified un-patched emscripten can build and pass the tests.

@sajjadt , do you think we can close this issue?

[2017-07-31 08:54] huningxin commented on #44
- [x] Update "Introduction to OpenCV-JavaScript Tutorials"
- [x] Update "Install OpenCV-JavaScript"
- [ ] Add "Using OpenCV-JavaScript"

[2017-08-01 05:38] ganwenyao commented on #79
We can use the following constructor and Array data to construct a convolution kernel. @huningxin
[code]

[2017-08-01 08:28] ganwenyao commented on #81
bitwise_and should be bitwiseAnd
bitwise_not should be bitwiseNot
bitwise_or should be bitwiseOr
bitwise_xor should be bitwiseXor

[2017-08-01 08:51] #44 closed, assigned to huningxin

[2017-08-01 09:16] huningxin opened #152 "Support <img> and element objects in cv.imread"

[2017-08-01 09:49] #12 closed, assigned to pancx

[2017-08-01 09:56] pancx opened #153 "Update video analysis tutorials using cv.VideoCapture"
Video analysis tutorials should be updated, cause #150 add the API for video reading.

[2017-08-02 00:45] huningxin commented on #79
@ganwenyao , that constructor is supported. I understand you need something like:
[code]
Is it?

[2017-08-02 00:47] huningxin commented on #36
@pancx , I think we can include this info into the imread doc, then close this issue. That do you think?

[2017-08-02 00:51] huningxin commented on #32
No issues exposed by tests and tutorials. Close it.

[2017-08-02 00:51] #32 closed, assigned to nobody

[2017-08-02 00:52] huningxin commented on #33
As we only support OpenCV 3, close this issue.

[2017-08-02 00:52] #33 closed, assigned to nobody

[2017-08-02 00:52] huningxin commented on #33
And we added API doc into the tutorial page, e.g. https://huningxin.github.io/opencv_docs/tutorial_js_colorspaces.html

[2017-08-02 00:55] huningxin commented on #68
So far, we implemented `imread`, `imshow` and `VideoCapture`. Is it OK for MVP?

[2017-08-02 00:57] huningxin commented on #69
Turn the list to a check list
- [x] Basic operations (blend, invert, color conversion)
- [x] Canny edge detector
- [x] Adaptive threshold or equalizeHistogram
- [x] HAAR object detector (for detecting faces)
- [x] Filters: erode, blur
- [ ] Motion detection and tracking
- [x] Stats: histogram
- [ ] Image transformations: image warp, change perspective,
- [x] Core: drawing?

[2017-08-02 00:57] huningxin opened #154 "Change basic types to JS value_object or value_array to avoid memory management"

[2017-08-02 00:59] huningxin opened #155 "Apply OpenCV coding style"

[2017-08-02 06:25] huningxin commented on #14
As agreed in the sync meeting, we close this issue. @sajjadt , please paste link the PR to emscripten here for reference when it is ready. Thanks!

[2017-08-02 06:25] #14 closed, assigned to sajjadt

[2017-08-02 07:50] pancx commented on #36
@huningxin  Fine.

[2017-08-03 01:51] huningxin commented on #154
It includes:
- [x] Point -> value_object
- [x] Size -> value_object
- [x] Rect -> value_object
- [x] RotatedRect -> value_object
- [x] Scalar #147 -> value_array
- [x] MinMaxLocResult -> value_object
- [x] Circle -> value_object
- [x] TermCriteria -> value_object

[2017-08-03 01:53] huningxin commented on #139
Fixed by https://github.com/huningxin/opencv/pull/148

[2017-08-03 01:53] #139 closed, assigned to nobody

[2017-08-03 01:53] huningxin commented on #132
@ganwenyao , could you please investigate this. How can we use it in tutorials? Thanks.

[2017-08-03 01:55] huningxin commented on #125
Does C++ sample show same images if running multiple times?

[2017-08-03 01:57] huningxin commented on #42
@pancx , do you have any ideas about the testing?

[2017-08-03 01:58] huningxin commented on #68
CC @pancx

[2017-08-03 02:24] pancx commented on #155
Js code style https://google.github.io/styleguide/

[2017-08-03 02:39] sajjadt commented on #155
[OpenCV preferred style](https://github.com/opencv/opencv/wiki/Coding_Style_Guide)

[2017-08-03 02:50] ganwenyao opened #158 "[Mat] We don't need "at" function for Mat"
at:
[code]
ptr:
[code]
We don't need "at" function because "ptr" can do all the things including what "at" can do.
Maybe we need a better function name for "ptr".

[2017-08-03 02:55] ganwenyao commented on #79
Yes

[2017-08-03 03:02] pancx opened #160 "Improve cv.imread and cv.VideoCapture"
Now cv.imread only supports canvas id and cv.VideoCapture only supports video id.
If cv.imread could support canvas element, img id and img element, and cv.VideoCapture could support video element, it will be more user-friendly.

[2017-08-03 04:11] sajjadt commented on #68
I think everything mentioned here can be done by native HTML5 elements. The only things that I think are missed are imdecode and  imencode. They will be helpful to access images raw data without the need to go through Canvas. However, then we need to build the library with necessary support for different picture compression such as jpeg and png.

[2017-08-04 04:53] #153 closed, assigned to pancx

[2017-08-04 06:19] pancx commented on #155
The opencv coding style guide is more about C++. But I find some gaps need to resolve.
- [ ] If the test needs some data, put it to the separate [top-level directory](https://github.com/opencv/opencv_extra/tree/master/testdata)
- [ ] Every source file, except for the samples, starts with BSD-compatible license, [template](https://github.com/opencv/opencv/blob/master/LICENSE)

[2017-08-04 06:24] #147 closed, assigned to huningxin

[2017-08-04 06:27] huningxin commented on #81
I would prefer to keeping them as they are aligned to C++ API.

[2017-08-04 06:49] huningxin opened #163 "[Mat] size should be a property"

[2017-08-05 00:39] huningxin commented on #79
As synced in Friday meeting:
* `cv::Mat(rows, cols, type, JSArray)` is preferred. As JavaScript implementation is easier and more efficient (1 memcpy vs. 2 memcpy). So I propose to implement `matFromArray(rows, cols, type, JSArray)` and `matFromImageData(imageData)` as #78 in JS helpers.
* `cv::Mat(int rows, int cols, int type, void* data, size_t step)` will be kept for future usage.
* `cv::Mat(co

[2017-08-05 01:19] sajjadt commented on #155
Good point about the videos. For tutorials, all the files (they are only images) in the main repo, however if we have (or eventually will have) large videos it might be a better idea to keep them in a separate repo. We have to see how many videos are needed in the long term.

Have we used licensed material beside OpenCV.js original source codes?

[2017-08-07 02:00] huningxin commented on #158
Let's align to OpenCV C++ APIs which have `at` and `ptr`.

[2017-08-07 02:00] #158 closed, assigned to nobody

[2017-08-07 02:03] huningxin commented on #81
For simplicity and alignment to C++ API, I propose the element getter naming as
[code]

[2017-08-07 02:04] huningxin commented on #83
The ptr family is
[code]

[2017-08-07 02:21] huningxin opened #166 "Change pictures in tutorials"
Try to use general images within opencv repo.
- Use images from opencv repo
- Use general images, avoid trademark etc.,

[2017-08-07 02:45] huningxin opened #167 "Add video + facedetection tutorial"

[2017-08-07 03:09] #160 closed, assigned to pancx

[2017-08-07 03:11] #75 closed, assigned to nobody

[2017-08-07 03:11] #79 closed, assigned to nobody

[2017-08-07 03:11] #81 closed, assigned to nobody

[2017-08-07 03:11] #83 closed, assigned to nobody

[2017-08-07 03:11] #86 closed, assigned to nobody

[2017-08-07 03:11] #163 closed, assigned to huningxin

[2017-08-07 03:12] huningxin commented on #78
Closed by https://github.com/huningxin/opencv/pull/165

[2017-08-07 03:12] #78 closed, assigned to huningxin

[2017-08-07 03:12] huningxin commented on #77
Closed by https://github.com/huningxin/opencv/pull/165

[2017-08-07 03:12] #77 closed, assigned to huningxin

[2017-08-07 23:10] huningxin commented on #152
Fixed by https://github.com/huningxin/opencv/pull/164

[2017-08-07 23:10] #152 closed, assigned to pancx

[2017-08-07 23:14] huningxin commented on #154
One more:
- [ ] Moments -> value_object

@ganwenyao

[2017-08-07 23:19] huningxin commented on #68
I suggest label it as a post MVP feature.

[2017-08-07 23:24] huningxin commented on #141
We exposed `void cv::merge ( InputArrayOfArrays mv, OutputArray dst)` which can cover above version.

[2017-08-07 23:24] #141 closed, assigned to nobody

[2017-08-07 23:28] huningxin opened #171 "[Mat] Range is not exposed"
It is used in `Mat.colRange(range)`.

[2017-08-08 02:21] #154 closed, assigned to huningxin

[2017-08-08 02:43] huningxin commented on #100
` cv.approxPolyDP` will invoke `mat.copyTo` for 2nd parameter. `copyTo` internally will invoke `create` which will reallocate memory. The 2nd paramter is `polyMatVector.get(i)` which actually copies a mat to return. So only the mat copy gets new memory, the mat inside `polyMatVector` doesn't get updated.

BTW, the mat from `polyMatVector.get(i)` should be deleted.

[2017-08-08 02:52] huningxin commented on #100
Close this issue as it is emscripten convention.

[2017-08-08 02:52] #100 closed, assigned to nobody

[2017-08-08 03:09] #84 closed, assigned to nobody

[2017-08-08 03:09] #88 closed, assigned to nobody

[2017-08-08 03:09] #171 closed, assigned to huningxin

[2017-08-08 04:28] huningxin commented on #89
Fixed by #172

[2017-08-08 04:28] #89 closed, assigned to nobody

[2017-08-08 04:45] huningxin opened #173 "Apply tech writer's feedbacks into tutorials"
- [x] introduction @huningxin
- [x] gui and video analysis @pancx
- [ ] img proc and object detection @ganwenyao

[2017-08-08 06:21] huningxin commented on #173
My part is done.

[2017-08-09 01:21] #166 closed, assigned to pancx, ganwenyao

[2017-08-09 05:31] ganwenyao opened #177 "[Mat] We need mat.size()"
mat.size() return the size of the mat as a cv.Size object

[2017-08-09 08:06] huningxin commented on #177
Actually `size` is a method of `MatExpr`. For convenience, we can support that in Mat.

[2017-08-09 08:32] huningxin commented on #177
Unfortunately, JS object doesn't allow same name for property and method. So I change the property name to `matSize` and keep this method name as `size()`.

[2017-08-09 08:49] #177 closed, assigned to huningxin

[2017-08-10 02:35] pancx commented on #36
This has been mentioned in tutorial of  `Getting Started with Images`(#159 ), and could be closed.

[2017-08-11 01:55] huningxin commented on #27
Closed by https://github.com/huningxin/opencv/pull/178

[2017-08-11 01:55] #27 closed, assigned to nobody

[2017-08-11 02:25] #36 closed, assigned to pancx

[2017-08-11 04:07] ganwenyao commented on #132
This is how I instantiated the classifier in openCV.js:
[code]
But Chrome warning :
[code]

[2017-08-11 04:50] pancx opened #182 "[HighGUI][Video] Add params list and explanations for OpenCV.js functions"

[2017-08-11 05:10] #173 closed, assigned to huningxin, pancx, ganwenyao

[2017-08-11 05:10] #182 closed, assigned to pancx

[2017-08-11 05:11] huningxin commented on #167
fixed by https://github.com/huningxin/opencv/pull/181

[2017-08-11 05:11] #167 closed, assigned to ganwenyao

[2017-08-11 05:12] huningxin commented on #17
fixed by https://github.com/huningxin/opencv/pull/181. Thanks much!

[2017-08-11 05:12] #17 closed, assigned to remember08, pancx, ganwenyao

[2017-08-11 05:12] huningxin commented on #56
postpone after M6

[2017-08-11 07:05] sajjadt commented on #132
We can load the file [asynchronously](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Synchronous_and_Asynchronous_Requests).
[code]

[2017-08-11 08:23] huningxin commented on #144
Rebased to 3.3.0

[2017-08-11 08:23] #144 closed, assigned to huningxin

[2017-08-11 08:24] huningxin commented on #69
https://github.com/huningxin/opencv.js/tree/master/samples

and

https://codepen.io/collection/nJbkNo/

[2017-08-15 01:29] sajjadt opened #186 "Build without Unnecessary Components"
These OpenCV components need to be explicitly disabled.
OpenCL
Java
Python
IPP
Pthreads
OpenEXR
trace
ffmpeg

also some modules are not supported and don't need to be built. e.g.
dnn
shapes
calib3d

aslo, maybe these two as well:
TIFF
WEBP

[2017-08-17 07:08] ganwenyao opened #187 "[Demo1] Find QR Code"
* My github repository:
https://github.com/ganwenyao/openCV_demo1_findQrCode
* Demo websites:
https://ganwenyao.github.io/openCV_demo1_findQrCode/findQrCode.html
https://ganwenyao.github.io/openCV_demo1_findQrCode/findQrCodeCamera.html

[2017-08-18 01:37] ganwenyao commented on #187
QR code decoder is tedious and sophisticated. We may need some Open Source QR Code Library to decode it.

[2017-08-18 09:09] ganwenyao opened #188 "[Demo2] Haze Remove"
This demo refers to the paper:  _Single Image Haze Removal Using Dark Channel Prior_
My github repository:
https://github.com/ganwenyao/openCV_demo2_findQrCodehazeRemove
Demo website:
https://ganwenyao.github.io/openCV_demo2_findQrCodehazeRemove/hazeRemove.html

[2017-08-21 03:05] pancx commented on #56
[GSoC Work Product Submission Guidelines](https://developers.google.com/open-source/gsoc/help/work-product)

[2017-08-23 01:37] huningxin commented on #57
We will use one submission.

[2017-08-23 01:37] #57 closed, assigned to pancx

[2017-08-23 01:41] huningxin opened #190 "Use appropriate LICENSE header"
New files should use:
https://github.com/opencv/opencv/blob/master/LICENSE

Some files are from[ UCI opencv.js project](https://github.com/ucisysarch/opencvjs). @sajjadt , please tell us how to proceed with those.

[2017-08-23 01:43] huningxin commented on #56
This issue is to track making the final PR to opencv.

[2017-08-23 01:45] huningxin opened #191 "Final submission report"
According to https://developers.google.com/open-source/gsoc/help/work-product, it requires:
"
Create a blog post or web page or public GitHub gist that describes the work you've done and links to the commits you've made and repositories you've worked on. If there is still work to be done on the project, include that too. You can also share highlights or challenging pieces.
"

[2017-08-23 01:52] huningxin opened #192 "Remove unnecessary files for test"

[2017-08-23 01:56] huningxin commented on #190
For example in core_bindings.cpp
"
////////////////////////////////////////////////////////////////////////////////
// AUTHOR: Sajjad Taheri sajjadt[at]uci[at]edu
//
//                             LICENSE AGREEMENT
// Copyright (c) 2015, University of California, Irvine
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the followi

[2017-08-23 06:03] huningxin opened #193 "Make short video"
We also need to make a short video,  see:
* https://www.youtube.com/watch?v=Z3mkbYO2o4k
* https://www.youtube.com/watch?v=Akeh36-VMTU

[2017-08-23 07:25] pancx commented on #191
Just a draft for final report https://gist.github.com/pancx/2778b72090782b6e5b47af13a32b0d7d
@sajjadt Please have a look.

[2017-08-24 01:09] huningxin commented on #69
Done for announcement. Will add more samples into https://github.com/huningxin/opencv.js

[2017-08-24 01:09] #69 closed, assigned to nobody

[2017-08-24 01:18] huningxin opened #194 "Remaining API naming: getRoiRect -> roi"

[2017-08-24 01:40] #194 closed, assigned to huningxin

[2017-08-24 03:59] sajjadt commented on #190
@huningxin  I updated them. Please take a look at #197.

[2017-08-24 04:14] #192 closed, assigned to huningxin

[2017-08-24 08:24] pancx commented on #193
https://youtu.be/Iz6JPsW6jt0
@sajjadt @huningxin

[2017-08-24 13:08] huningxin commented on #193
Looks very good! Thanks!

[2017-08-24 13:10] huningxin commented on #190
Fixed by #197 and #198 . Thanks!

[2017-08-24 13:10] #190 closed, assigned to huningxin, sajjadt

[2017-08-25 05:07] #155 closed, assigned to huningxin, pancx

[2017-08-25 05:44] huningxin commented on #186
opencv.js target should only depend on:
* core
* imgproc
* video
* objdetect

[2017-08-25 06:09] #186 closed, assigned to huningxin

[2017-08-25 09:18] pancx commented on #193
Video updated https://youtu.be/lx5btJJcvek

[2017-08-25 17:42] sajjadt commented on #193
Awesome!

[2017-08-27 03:30] sajjadt commented on #191
@pancx I think it needs to be explained a bit more. Look at these examples from previous GSoC projects. These are shared as good examples on GSoC mailing list.

https://gist.github.com/vaidap/83ff59865f199e75ccd1b06607d07bd5
https://dhavalkapil.com/blogs/Elasticsearch-Lua-GSOC-2016/

You can use content from opencv.js tutorial. Once you have a draft I can do a review pass.

[2017-08-29 14:10] pancx commented on #191
Report updated @sajjadt . The link is settled.
https://gist.github.com/pancx/2778b72090782b6e5b47af13a32b0d7d

[2017-08-29 19:20] sajjadt commented on #191
@pancx Thanks, I did an [edit](https://gist.github.com/sajjadt/51a985607f3cdc18f05a58ef362af9ba).

[2017-08-30 01:40] pancx commented on #191
@sajjadt Thanks a lot!

[2017-09-06 08:53] huningxin commented on #56
https://github.com/opencv/opencv/pull/9466

[2017-09-06 08:53] #56 closed, assigned to huningxin, pancx

[2017-09-06 08:54] #191 closed, assigned to huningxin, pancx

[2017-09-06 08:54] #193 closed, assigned to pancx

[2017-09-06 08:55] huningxin opened #204 "Add OpenCV.js build script into platforms/js"
Vadim's suggestions:

1.	Instead of patching main CMake scripts heavily, it would be better to add a subdirectory to opencv/platforms, e.g. opencv/platforms/js or opencv/platforms/web, where you can put python script to build OpenCV.js, and there you can call cmake with proper flags, e.g. explicitly disable GTK, OPENNI2 etc.
2.	Correspondingly, the installation tutorial https://huningxin.github.io

[2017-09-08 09:27] #204 closed, assigned to huningxin

[2017-09-12 01:18] huningxin commented on #132
@ganwenyao , would you able to try solution by @sajjadt ?

[2017-09-12 01:19] huningxin commented on #188
Thanks!

[2017-09-12 01:19] #188 closed, assigned to ganwenyao

[2017-09-12 01:19] huningxin commented on #187
Thanks for the demo!

[2017-09-12 01:19] #187 closed, assigned to ganwenyao

[2017-09-12 01:19] huningxin commented on #125
@ganwenyao , any updates?

[2017-09-12 01:20] huningxin commented on #117
We will revisit this issue if someone needs this function. Thanks!

[2017-09-12 01:20] #117 closed, assigned to nobody

[2017-09-12 01:21] huningxin opened #206 "Support imgcodecs module"

[2017-09-12 01:23] huningxin commented on #68
@sajjadt , I open #206 specifically for `imgcodecs`. Then we can close this one.

[2017-09-12 01:23] #68 closed, assigned to nobody

[2017-09-12 01:23] huningxin commented on #51
We can reopen it if someone requires this feature.

[2017-09-12 01:23] #51 closed, assigned to nobody

[2017-09-12 01:25] huningxin opened #207 "Support dnn module"
http://docs.opencv.org/3.3.0/d6/d0f/group__dnn.html

[2017-09-12 01:25] huningxin opened #208 "Create tutorial for dnn module"
http://docs.opencv.org/3.3.0/d2/d58/tutorial_table_of_content_dnn.html

[2017-09-12 04:50] huningxin opened #209 "Write a tutorial for how to expose new module"
http://docs.opencv.org/3.3.0/d9/d6a/group__aruco.html

[2017-09-12 04:50] huningxin opened #210 "Write a tutorial for how to use aruco module in JavaScript"
http://docs.opencv.org/3.3.0/d9/d6d/tutorial_table_of_content_aruco.html

[2017-09-12 05:37] ganwenyao commented on #132
I have tried it, but there are some errors. I will investigate it.

[2017-09-13 00:53] huningxin opened #211 "Experiment ORB_SLAM JavaScript support"
https://github.com/raulmur/ORB_SLAM2

[2017-09-13 01:38] huningxin commented on #209
Make it general for other new modules.

[2017-09-19 05:00] huningxin opened #212 "Eliminate the js branch in hdr_parser.py"
According to review comments of https://github.com/opencv/opencv/pull/9466

[2017-09-19 05:01] huningxin opened #213 "Remove build_opencv_js dependency of js tutorials"
Implement error message of `opencv.js` loading issue in live examples.

According to review comments of opencv#9466

[2017-09-19 05:02] huningxin opened #214 "Extract live examples from tutorials and embed them with iframe"
According to review comments of opencv#9466

[2017-09-19 05:03] #212 closed, assigned to huningxin

[2017-09-20 00:51] huningxin commented on #214
Implement https://github.com/opencv/opencv/commit/ff2ee18b0574e83092d34c9235e4b486c1194580 for js_basic_ops tutorial. @ganwenyao @pancx , please help to implement for other tutorials. Thanks!

[2017-09-20 00:52] huningxin opened #217 "Improve the output of cv::Exception"
According to review comments of opencv#9466

[2017-09-20 06:30] #217 closed, assigned to huningxin

[2017-09-20 06:54] huningxin opened #220 "Use online version of adapter.js"
According to review comments of opencv#9466

[2017-09-21 01:10] huningxin opened #223 "Avoid copying .eslintrc.json"
According to comments of https://github.com/opencv/opencv/pull/9466

[2017-09-21 01:26] #223 closed, assigned to huningxin

[2017-09-22 09:29] #220 closed, assigned to huningxin

[2017-09-22 09:29] #214 closed, assigned to huningxin

[2017-09-25 00:56] #213 closed, assigned to huningxin

[2017-09-25 00:59] huningxin opened #233 "Expose getBuildInformation function and dump build info when opencv.js load"
Dump some OpenCV build information into browser console on opencv.js loading.
Expose "getBuildInformation()" function.
According to https://github.com/opencv/opencv/pull/9466

[2017-09-25 01:12] #233 closed, assigned to huningxin

[2017-09-25 01:56] huningxin opened #235 "Make "try it" button to stand out"
According to @sajjadt 's suggestions:
"
we could make the "try it button" to stand out better. maybe change its location after the text block or next to it, change its size, or add a color to it.
"

[2017-09-25 03:07] #235 closed, assigned to huningxin

[2017-09-25 03:16] huningxin commented on #235
![image](https://user-images.githubusercontent.com/1005673/30791117-fc6f9806-a1e2-11e7-8703-2614cd5bbd7b.png)

[2017-09-25 07:38] huningxin opened #237 "Add imgproc camera example based on video processing demo"
According to https://github.com/opencv/opencv/pull/9466

[2017-09-25 08:32] #237 closed, assigned to huningxin

[2017-09-26 06:13] huningxin commented on #132
Implement the asynchronous loading in https://github.com/opencv/opencv/pull/9713

[2017-09-26 06:13] #132 closed, assigned to ganwenyao

[2017-09-27 06:00] huningxin opened #239 "Allow configure module to build opencv.js"
Think about use case that when developer just want to use `objdetect`, how to build a minimized opencv.js.

[2017-10-10 02:54] huningxin opened #240 "Integrate with opencv buildbot"

[2017-10-10 02:55] huningxin opened #241 "Support video in object detection tutorial"

[2017-10-10 02:55] huningxin opened #242 "Support video in GUI tutorial"

[2017-10-10 06:17] ganwenyao commented on #125
Same images if running multiple times.

[2017-10-11 06:10] pancx commented on #211
@huningxin I need your work for reference.

[2017-10-11 06:25] huningxin commented on #211
I pushed my work to https://github.com/huningxin/opencv/tree/orbslam2. At there, I integrate orbslam2 as a module into opencv source tree.

[2017-10-11 06:33] pancx commented on #211
@huningxin Thanks. I will have a try.

[2018-02-02 16:43] sid-kap opened #244 "Module not found: Error: Can't resolve 'fs'"
Hi, I'm trying to use opencv.js with TypeScript, and when I try to compile some code that uses the cv library, I get an error saying I need the fs library. I'm using opencv.js from the NPM registry.

I believe fs is a library available only in the nodejs environment, not in browsers. Is fs actually needed to use this library?

[2018-02-02 16:49] sid-kap commented on #244
Never mind, it was a webpack problem. The solution was https://github.com/webpack-contrib/css-loader/issues/447

[2018-02-02 16:49] #244 closed, assigned to nobody

[2019-01-14 06:02] mjyc opened #245 "[Request] Is the script used for building your opencv.js in npm pkg available?"
@huningxin , thank you for publishing a prebuilt opencv.js file as an [npm package](https://www.npmjs.com/package/opencv.js).

Can you provide the script (or command) you used to build (https://www.npmjs.com/package/opencv.js)?

I'm trying to extend the opencv.js npm pkg with the calib3d module so I made [the following changes](https://github.com/mjyc/opencv/tree/js3.4.5_calib3d) and compiled it b

[2019-01-18 08:37] mjyc commented on #245
Found an answer from http://answers.opencv.org/question/207288/how-can-i-compile-opencvjs-so-that-it-does-not-require-defining-the-onruntimeinitialized-field/?answer=207290#post-id-207290

[2019-01-18 08:37] #245 closed, assigned to nobody

[2019-01-19 01:55] huningxin commented on #245
Thanks for sharing the answer!

[2019-05-30 02:02] #242 closed, assigned to pancx

[2019-05-30 02:03] #241 closed, assigned to ganwenyao

[2019-05-30 02:03] #240 closed, assigned to huningxin

[2019-05-30 02:04] #211 closed, assigned to pancx

[2019-05-30 02:04] #210 closed, assigned to ganwenyao

[2019-05-30 02:05] #125 closed, assigned to nobody

[2019-05-30 02:05] #26 closed, assigned to nobody

[2019-05-30 02:17] huningxin opened #246 "[Investigation] JavaScript benchmark library"

[2019-05-30 02:22] huningxin opened #247 "Create the base of OpenCV.js benchmark"

[2019-05-30 02:23] huningxin opened #248 "Add imgproc kernels into OpenCV.js benchmark"

[2019-05-30 02:25] huningxin opened #249 "Add core kernels into OpenCV.js benchmark"

[2019-05-30 02:27] huningxin opened #250 "Add object detect kernels into OpenCV.js benchmark"

[2019-05-30 02:28] huningxin opened #251 "Add video kernels into OpenCV.js benchmark"

[2019-05-30 02:29] huningxin opened #252 "Add dnn kernels into OpenCV.js benchmark"

[2019-05-30 02:30] huningxin opened #253 "Add features2d kernels into OpenCV.js benchmark"

[2019-05-30 02:30] huningxin opened #254 "Add photo kernels into OpenCV.js benchmark"

[2019-05-30 02:31] huningxin opened #255 "Add aruco kernels into OpenCV.js benchmark"

[2019-05-30 02:41] huningxin commented on #247
I happened to create a very initial tool ([js/test/perf.js](https://github.com/huningxin/opencv/blob/perf/modules/js/test/perf.js)) to measure OpenCV.js performance. With this tool, I measured four kernels of imgproc in OpenCV.js vs. native. The instructions are documented in [a doc](https://docs.google.com/document/d/1mJW632ZCWHXCuxLr_a8YhkGFsrLd2aBokpIc5eoJry8/edit?usp=sharing). The results is c

[2019-05-30 02:43] huningxin opened #256 "[Meta] optimize performance by WASM threads"

[2019-05-30 02:44] huningxin opened #257 "[Meta] optimize performance by WASM SIMD"

[2019-06-03 01:10] huningxin commented on #246
We need to investigate and select a suitable JavaScript benchmark library for OpenCV.js, for example [benchmark.js]. The solution of this issue would include:
1. the features of the library
2. a comparison with opencv native perf tool
3. a plan of how to integrate it into opencv.js

[2019-06-03 01:15] huningxin opened #258 "Initial performance data of WASM and native"
Based on https://github.com/huningxin/opencv/issues/247 and [opencv perf tests](https://github.com/opencv/opencv/wiki/HowToUsePerfTests), please collect the initial performance data of WASM and native. It depends on the [selected kernels](https://github.com/huningxin/opencv/issues/260) and [native opencv build configurations](https://github.com/huningxin/opencv/issues/259), e.g.:
1. WASM (scalar)

[2019-06-03 01:18] huningxin opened #259 "Native OpenCV optimization build configurations"
This wiki page [CPU optimizations build options](https://github.com/opencv/opencv/wiki/CPU-optimizations-build-options) might be useful.

@terfendail, please provide your inputs. Thanks.

[2019-06-03 01:20] huningxin opened #260 "Select kernels for OpenCV.js optimization"
@terfendail, please help scope the kernels for OpenCV.js optimization.

[2019-06-03 15:34] terfendail commented on #259
Unfortunately there is no dedicated flag to disable parallel processing during compilation. It's possible to disable the option in the code by undefining of `CV_PARALLEL_FRAMEWORK` in `modules/core/src/parallel.cpp`.
However it's possible to dynamically disable parallel execution during collection of performance results by using `--perf_threads=1` flag. E.g. `./bin/opencv_perf_core --perf_threads=

[2019-06-04 05:50] Wenzhao-Xiang commented on #259
Thanks for the inputs! I will try with these configurations!

[2019-06-04 06:23] Wenzhao-Xiang commented on #247
Some performance data collected by using `Benchmark.js`:

=== GaussianBlur ===
elapsed time:8850 ms
mean time:4.153391787716161 ms
stddev time:0.31379444414825014 ms
GaussianBlur x 241 ops/sec ±1.30% (129 runs sampled)
=== cvtColor ===
elapsed time:8797 ms
mean time:0.5263658874033388 ms
stddev time:0.021411419599429788 ms
cvtColor x 1,900 ops/sec ±0.68% (137 runs sampled)
=== threshold ===
elapse

[2019-06-04 06:37] Wenzhao-Xiang commented on #246
Seems we can use [Benchmark Suite](https://benchmarkjs.com/docs#Suite) API.

here's an outline of how a test is executed:
[code]

[2019-06-06 05:15] Wenzhao-Xiang commented on #247
Seems we need require `opencv.js` again in `setup/tearown` function, or `cv` can't be found by them.
According to https://github.com/bestiejs/benchmark.js/issues/94#issuecomment-110431216, it needs a workaround for using `require` in benchmark.js . I modified the `benchmark.js` and now it works.

And According to @terfendail 's feedback, I will start with `cvtColor` to create the base of OpenCV.js

[2019-06-06 06:22] huningxin commented on #247
You may use `global.cv = cv;` to avoid the workaround and requiring `cv` many times.
And please also handle the error loudly by adding `error` handler.

I've put some comments into your commit: https://github.com/Wenzhao-Xiang/opencv/commit/ca7bafc95a867b44d72de3f0f863e24c71572720. Please take a look.

[2019-06-06 06:47] Wenzhao-Xiang commented on #247
Got it! Thanks!

[2019-06-10 14:34] chiboreache opened #261 ""fs" dependency causing compiling error in Nuxt.js"
##### System information (version)
- OpenCV.js => 1.2.1
- Operating System / Platform => Arch Linux
- Npm package => [page](https://www.npmjs.com/package/opencv.js)

##### Steps to reproduce

Just added one line of code
`cv = require('opencv.js')`
 in script section of my Nuxt.js project and got that error

![Screenshot_20190610_173317](https://user-images.githubusercontent.com/16459251/59202759-d

[2019-06-11 15:09] terfendail commented on #260
I've discussed the list of functions to optimize with the OpenCV team and get the following list(in order of precedence):
1.	cvtColor(especially BGR2GRAY, YUV2BGR, BGR2YUV)
2.	resize(especially LINEAR_BITEXACT/LINEAR)
3.	Sobel
4.	Scharr
5.	gaussianBlur
6.	blur
7.	medianBlur
8.	erode
9.	dilate
10.	morphologyEx
11.	remap
12.	warpAffine
13.	warpPerspective
14.	pyrDown
15.	buildPyramyd

I think it mak

[2019-06-12 02:49] Wenzhao-Xiang commented on #248
According to https://github.com/huningxin/opencv/issues/260#issuecomment-500885482, first implemented cvtColor of all cases compared with opencv native. The total number of perf test cases is 511, and seems it may take a long time to test all the cases. Testing on my machine(Intel(R) Core(TM) i9-7920X CPU @ 2.90GHz, Chrome version 74.0.3729.157), it cost about 50 minutes(Native is 15 min).
Here is

[2019-06-19 08:38] Wenzhao-Xiang commented on #258
Collect some performance data here.
https://docs.google.com/spreadsheets/d/17TS4wBDuKUr2aN_dOPlsGDX_7Zh8_XlUU3ownv3VZHs/edit?usp=sharing

According to the data, WASM(scalar) is about 30% slower than Native(scalar), and Native(threads+SIMD) is about 10x faster than Native(scalar).
Please help take a look.
@huningxin @terfendail

[2019-06-20 23:33] huningxin commented on #246
benchmak.js looks like a good solution. Let's use it for initial OpenCV.js performance measurement. Thanks for the investigation.

[2019-06-20 23:33] #246 closed, assigned to Wenzhao-Xiang

[2019-06-20 23:58] huningxin commented on #258
Good progress. Thanks @Wenzhao-Xiang . In your table, are you able to provide the command line (tool & options) for each data? It would help others to reproduce it on their machines.

[2019-06-24 02:09] Wenzhao-Xiang commented on #258
Thanks! Updated it!

[2019-06-25 06:07] Wenzhao-Xiang commented on #256
First attempt with WASM threads for opencvjs:
For opencv building options, set `-DWITH_PTHREADS_PF=ON`.
And for emscripten compiler flags, set `-s USE_PTHREADS=1 -s PTHREAD_POOL_SIZE=8` and disable `ALLOW_MEMORY_GROWTH`(set `-s ALLOW_MEMORY_GROWTH=0`， due to https://github.com/WebAssembly/design/issues/1271).

Found building configuration changed from `Parallel framework:  none` to `Parallel frame

[2019-06-26 05:13] huningxin opened #263 "Adapt the benchmark to web browser"
https://github.com/huningxin/opencv/pull/262#issuecomment-505286862

[2019-07-01 14:24] Wenzhao-Xiang commented on #258
Will add another version of WASM performance data based on browser after #263 fixed.

[2019-07-02 01:09] huningxin commented on #247
closed by https://github.com/huningxin/opencv/pull/262

[2019-07-02 01:09] #247 closed, assigned to Wenzhao-Xiang

[2019-07-02 01:10] huningxin commented on #259
Close this one.

[2019-07-02 01:10] #259 closed, assigned to nobody

[2019-07-02 08:42] #263 closed, assigned to Wenzhao-Xiang

[2019-07-09 03:55] Wenzhao-Xiang opened #266 "Enable performance test building option"
Add an extra building option for opencv.js performance test.

[2019-07-10 07:04] Wenzhao-Xiang commented on #266
Now, the test file and benchmark file have some conflicts. Maybe we should have a discussion about the file structure.
@huningxin @terfendail

[2019-07-10 10:02] huningxin commented on #266
@Wenzhao-Xiang , thanks for raising up this issue. Could you please elaborate the conflicts? And do you have any proposals to fix the conflicts?

[2019-07-10 15:16] aptlin opened #267 "[Meta] Bulding opencv.js to integrate a couple of functions from a specific module for use in Node and browser apps"
Hi @huningxin and the team, thank you for your extensive work!

## TLDR

1. Is installing [opencv.js from NPM](https://www.npmjs.com/package/opencv.js) the recommended way to use in Node/browsers?

2. Is there any way to compile a very strict subset of opencv.js (down to several functions, described below) in order to achieve a small bundle size, other than forking opencv, tracing and removing the

[2019-07-10 15:39] Wenzhao-Xiang commented on #267
Hi, @sdll  do you mean you want to build a specific subset of opencv.js by yourself?

[2019-07-10 16:35] aptlin commented on #267
@Wenzhao-Xiang, I was wondering about that as one of the solutions, yes, since PSENet only requires the imgproc module of opencv, and whether it was the preferred solution in my case, given the size of vanilla opencv.js (~9 mb). Or would you recommend using the [opencv.js NPM module](https://www.npmjs.com/package/opencv.js), even though it has not been updated for two years?

[2019-07-11 00:56] huningxin commented on #267
@sdll , thanks for your comments.

You may need to tweak the function white-list of OpenCV.js to achieve that. The white-list is defined in [embindgen.py](https://github.com/opencv/opencv/blob/master/modules/js/src/embindgen.py#L186). You may remove modules except imgproc and core, and unneeded functions of the [imgproc module](https://github.com/opencv/opencv/blob/master/modules/js/src/embindgen.

[2019-07-11 02:20] Wenzhao-Xiang commented on #257
First, we should try to build opencv.js with emscripten upstream backend since now only emscripten LLVM upstream backend support WASM SIMD instructions.
However, there are now many warnings and errors like `undefined symbol: g$_ZTVNSt3__219basic_ostringstreamIcNS_11char_traitsIcEENS_9allocatorIcEEEE` in the process now. I set "-s ERROR_ON_UNDEFINED_SYMBOLS=0" to ignore these errors and succeed to

[2019-07-11 08:59] aptlin commented on #267
@huningxin, thank you so much for your help!

@sajjadt, it would be nice to revive the npm package, and probably borrow TypeScript typings from [opencv4nodejs](https://github.com/justadudewhohacks/opencv4nodejs/blob/master/lib/index.d.ts). It might also be nice to configure CI for keeping the build up to date with opencv master. I would be more than happy to help with those!

[2019-07-15 08:33] Wenzhao-Xiang commented on #257
file a upstream bug here: https://github.com/emscripten-core/emscripten/issues/8986

[2019-07-15 09:11] huningxin opened #268 "Loader to detect platform features and load according OpenCV.js"
OpenCV.js would have multiple builds for different browser features: ASM.js vs. WASM, threads vs. no threads, SIMD vs. no SIMD. And the browser may or may not support each of these features. So it would be ideal to handle the platform feature detection and load according OpenCV.js for developer.

[2019-07-15 09:15] Wenzhao-Xiang commented on #257
@huningxin @terfendail
Step to reproduce:
First, install the latest version of emsdk
1. `git clone https://github.com/emscripten-core/emsdk.git`
2. `git pull`
3. `./emsdk install latest-upstream`
4. `./emsdk activate latest-upstream`

Second, build opencv.js with LLVM upstream backend:
1. `git clone https://github.com/huningxin/opencv.git`
2. `cd opencv/`
3. run `python ./platforms/js/build_js.py

[2019-07-15 10:05] huningxin opened #269 "Run perf_cvtcolor error"
[code]

https://github.com/huningxin/opencv/blob/gsoc_2019/modules/js/perf/perf_imgproc/perf_cvtcolor.js#L532 redefines the `paramsContent`.

[2019-07-15 10:06] huningxin opened #270 "Typo of per_cvtcolor.html"
The filename of https://github.com/huningxin/opencv/blob/gsoc_2019/modules/js/perf/perf_imgproc/per_cvtcolor.html seems to have a typo. It is supposed to be `perf_cvtcolor.html`

[2019-07-15 10:11] huningxin opened #271 "typo of perf README.md"
https://github.com/huningxin/opencv/blob/gsoc_2019/modules/js/perf/README.md

`node per_cvtcolor.js` is supposed to be `node perf_cvtcolor.js`

[2019-07-15 10:12] huningxin opened #272 "add instructions to run perf tests in browser into RAEDME.md"
Add browser support into https://github.com/huningxin/opencv/blob/gsoc_2019/modules/js/perf/README.md

[2019-07-15 10:15] huningxin commented on #266
@Wenzhao-Xiang , does it work by copying [`perf`](https://github.com/huningxin/opencv/tree/gsoc_2019/modules/js/perf) directory into `bin`.

[2019-07-17 05:14] #269 closed, assigned to Wenzhao-Xiang

[2019-07-17 05:15] #266 closed, assigned to Wenzhao-Xiang

[2019-07-17 05:57] Wenzhao-Xiang commented on #271
close it for #274

[2019-07-17 05:57] #271 closed, assigned to Wenzhao-Xiang

[2019-07-17 05:57] Wenzhao-Xiang commented on #270
close it for #274

[2019-07-17 05:57] #270 closed, assigned to Wenzhao-Xiang

[2019-07-17 05:59] Wenzhao-Xiang commented on #272
close it for #274

[2019-07-17 05:59] #272 closed, assigned to Wenzhao-Xiang

[2019-07-17 08:51] Wenzhao-Xiang opened #276 "[opencv.js benchmark] opencv.js performance tests building log is wrong"

[2019-07-19 02:05] #276 closed, assigned to nobody

[2019-07-29 08:14] Wenzhao-Xiang commented on #257
I have a primary investigation of SIMD instructions used in cvtColor:
`v_load_deinterleave, v_store_interleave, v_reinterpret_as_u16, v_pack , swap, v_expand , v_store, vx_load_low, v_expand_low, v_zip, v_reinterpret_as_s16, v_reinterpret_as_u32, v_dotprod, v_store_low, v_fma, v_add_wrap, v_mul_expand, v_cvt_f32, v_trunc, v_select, vx_cleanup, vx_load, vx_setall_${type}, vx_setzero_${type}, vx_loa

[2019-08-01 11:36] terfendail commented on #257
There is a set of unit test related to universal intrinsics.
Most of the tests code is located in `opencv/modules/core/test/test_intrin.cpp` and some specifications could be found in `opencv/modules/core/test/test_intrin_utils.hpp`.
As far as I understand it's impossible to just reuse core module accuracy tests, but I hope this code could be a good starting point

[2019-08-01 11:39] terfendail commented on #257
Also there is a plain c++ implementation for all available universal intrinsics in `opencv/modules/core/include/opencv2/core/hal/intrin_cpp.hpp` that could also be used as a reference.

[2019-08-02 07:11] Wenzhao-Xiang opened #278 "set LLVM upstream backend as the main backend of emscripten"
Now, the latest version of emscripten's upstream backend has support threads compiling for opencv.js, and seems the performance is better. Since only LLVM upstream backend support WASM SIMD, I suggest to replace the original fastcomp backend with the upstream backend.

I'll collect the performance data with upstream backend and show it here:
https://docs.google.com/spreadsheets/d/17TS4wBDuKUr2aN_d

[2019-08-02 08:26] Wenzhao-Xiang commented on #278
Kernel | Type | WASM(threads=8,browser,fastcomp) | WASM(threads=8,browser,upstream)
-- | -- | -- | --
-| BGR2GRAY | 0.957 | 0.734
cvtColor | YUV2BGR | 2.936 | 2.57
-| BGR2YUV | 3.091 | 2.498
resize | LINEAR_EXACT | 2.447 | 2.533

[2019-08-05 08:29] huningxin commented on #278
+1. It serves a good base for threads+SIMD optimization. Thanks for the investigation and data.

[2019-08-05 08:41] Wenzhao-Xiang commented on #257
@terfendail Got it, Thanks!

[2019-08-05 08:42] Wenzhao-Xiang commented on #257
Some updates can see in this branch: https://github.com/Wenzhao-Xiang/opencv/tree/opencvjs_simd
@huningxin @terfendail

[2019-08-08 05:15] huningxin commented on #278
I verified the multi-threads build works with upstream backend. The cvtColor kernel with (1920x1080,COLOR_RGBA2GRAY) config shows 4.69X speedup on my 6 cores machine.

@Wenzhao-Xiang , please add this info into the document of how to build multi-threads version of OpenCV.js.

[2019-08-08 05:17] huningxin commented on #256
I think the implementation of this feature is done. The remaining part is the documentation. If I am correct, @Wenzhao-Xiang , please close this issue and open an issue to track the documentation.

[2019-08-08 05:18] huningxin commented on #260
Close this issue as we got the list.

[2019-08-08 05:18] #260 closed, assigned to nobody

[2019-08-08 05:19] huningxin commented on #248
We have the initial two imgproc kernels (cvtColor and resize) in the benchmark. Close this one. If we need more, please open corresponding issue.

[2019-08-08 05:19] #248 closed, assigned to Wenzhao-Xiang

[2019-08-08 05:20] huningxin commented on #258
We have the initial data even with WASM (threads). Close this one. We may need to update the table with WASM (SIMD) and WASM(threads+SIMD).

[2019-08-08 05:20] #258 closed, assigned to Wenzhao-Xiang

[2019-08-08 05:24] huningxin opened #279 "[Doc] optimizations of OpenCV.js"
The doc would include steps:

- [x] how to enable the multi-threads build
- [x] how to enable the SIMD build
- [x] how to test performance

[2019-08-08 05:26] huningxin commented on #257
As synced on Monday, we need to:
1. pass the test_intrin.cpp
2. fallback to c++ impl if no WASM support

[2019-08-09 06:39] Wenzhao-Xiang commented on #256
track it in #279 , close this issue.

[2019-08-09 06:39] #256 closed, assigned to Wenzhao-Xiang

[2019-08-12 07:53] huningxin commented on #257
To enable `test_intrin.cpp` in WASM build, it requires to build opencv tests that depend on many other modules, e.g. `videocodec`, `videoio`, `highgui` etc. And there are dependency issues to build those modules by emscripten. It seems not straight-forward to solve these dependency issues quickly in this GSoC project.

My proposal is to just expose intrin tests (e.g. [`test_hal_intrin_float32`](ht

[2019-08-12 08:35] huningxin commented on #257
Re-use c++ impl in WASM backend if no WASM support.

[2019-08-12 08:36] huningxin commented on #257
synced with @terfendail @Wenzhao-Xiang , we go with this approach. I will send the PR.

[2019-08-13 07:37] Wenzhao-Xiang commented on #257
Some update in branch https://github.com/Wenzhao-Xiang/opencv/tree/opencvjs_simd:
1. support all the kernels of wasm intrin
2. now still two kernels `v_signmask(f32)` and `v_check_any(f32)` can't pass the test
3. test `resize` with benchmark, it's 5x slower than scalar version

For try, please run
[code]
@huningxin @terfendail

[2019-08-13 13:03] Wenzhao-Xiang commented on #257
I investigated the SIMD instructions used in `resize`:
[code]
Among these kernels, `v_pack, v_pack_u, v_pack_u_store, v_rshr_pack_u, v_rshr_pack, v_rshr_pack_u_store` fall back to c++ implementation, which may cause performance issue. And also, I use lots of `wasm_v8x16_shuffle` to simulate other operations, which may also seem like a hidden danger.

[2019-08-14 02:05] Wenzhao-Xiang commented on #257
Did some test. Modify the `pack` kernel code as the following to see if the "wasm_v128_store" is the root cause of performance issue:
[code]
After that, the performance of `resize` change from 25.94ms to 1.68ms, and also `cvtcolor` can be tested normally. Therefore, I think fall back implementation may be the main cause of this performance issue. I will next think about how to implement `pack` wit

[2019-08-14 06:06] huningxin commented on #257
I put together a PR https://github.com/huningxin/opencv/pull/281 that support the `simd` build option and re-use `intrin_cpp.hpp` as the base (fallback) of `intrin_wasm.hpp`. It can pass the intrin tests and replicate the (lower) performance as @Wenzhao-Xiang found.

I would propose that we use this as a base impl and @Wenzhao-Xiang can add the optimized implementation on top of that.

WDYT?

[2019-08-14 15:19] Wenzhao-Xiang commented on #257
Sounds great. @huningxin
On the other hand, I tried to optimize the `PACK` with wasm intrin, however, performance still didn't have big improvement. For example, for `resize(CV_8UC4,1280x720,640x480)`, time changed from about `25ms` to `20ms` (however, scalar version is about 5ms).

[2019-08-15 03:11] huningxin commented on #257
Open https://github.com/huningxin/opencv/pull/282 for that. Please take a look.

[2019-08-15 08:04] huningxin commented on #257
@Wenzhao-Xiang , one thing we need to take care is current code opens the "__wasm_unimplemented_simd128__" by default. That would be dangerous. Please make the code can work without this flag. I will open an issue for that.

[2019-08-15 08:04] huningxin opened #283 "[SIMD] Make the code work without "__wasm_unimplemented_simd128__""
https://github.com/huningxin/opencv/issues/257#issuecomment-521553744

[2019-08-15 08:27] huningxin commented on #283
I asked v8 folks, they said this might be reason for cvtcolor kernel crash. So let's fix it and fallback the unimplemented to c++ impl.

[2019-08-15 08:30] huningxin opened #284 "[SIMD] optimize the resize kernel"
In my test with `perf_resize.html`, the mean time of scalar version is 4.35ms and the simd version is 17.21ms. We need to find the root cause and hopefully fix it.

[2019-08-15 09:33] Wenzhao-Xiang commented on #284
That's targeted.
I just optimized `v_dotprod` according to `Vtune`, and get a big performance improvement compared with the last version, now the mean time is 5.318 ms, almost same to scalar version 5.473ms or even better.

[2019-08-15 14:42] Wenzhao-Xiang commented on #283
After optimizing `v_dotprod`, the cvtcolor kernel crash issue has also been improved. Now cvtcolor kernel almost don't crash the chrome on my machine.

[2019-08-19 05:19] Wenzhao-Xiang opened #288 "[SIMD] Three opencv.js kernel tests failed after optimizing `v_dotprod`"
[code]

[2019-08-19 07:06] #288 closed, assigned to Wenzhao-Xiang

[2019-08-19 09:21] huningxin opened #290 "[SIMD] write down the optimization and hotspot analysis"
start with `v_dotprod`.

[2019-08-19 11:18] huningxin opened #291 "[SIMD] add threshold kernel into perf test (7.8X speedup)"
The SIMD optimization can be demonstrated by `threshold` kernel. The perf data of (1920x1080, 8UC1, THRESH_BINARY) on my machine:
* scalar: 1.08 ms
* simd: 0.15ms

The speedup is about 7.8X.

It would be good to add a perf test to demonstrate that.

[2019-08-19 11:23] huningxin commented on #283
https://github.com/huningxin/opencv/pull/287 fixes the cvtColor kernel crash issue!

[2019-08-19 11:26] #283 closed, assigned to Wenzhao-Xiang

[2019-08-19 11:26] huningxin commented on #278
We should mention this in doc: #279

[2019-08-19 11:27] #278 closed, assigned to nobody

[2019-08-20 11:57] huningxin commented on #284
One reason of the lower performance is the `wasm_i32x4_shl` and `wasm_i32x4_shr` are compiled to scalar version by emscripten 1.38.41. I report an issue in emscripten https://github.com/emscripten-core/emscripten/issues/9269. Let's track it there.

[2019-08-20 14:41] Wenzhao-Xiang commented on #291
Nice found! It can be reproduced on my machine with the new threshold perf test:
* scalar: 1.390 ms
* simd: 0.145 ms

[2019-08-20 14:45] Wenzhao-Xiang commented on #284
Thanks! @huningxin
How about `wasm_v8x16_shuffle`? I found sometimes it's even slower than `wasm_i32x4_shl` and `wasm_i32x4_shr`.

[2019-08-21 02:11] #291 closed, assigned to Wenzhao-Xiang

[2019-08-21 02:43] huningxin opened #294 "Check whether we still need "-DENABLE_PIC=FALSE""
Please verify whether we still need "-DENABLE_PIC=FALSE" for LLVM upstream backend. If we still need, please append a "," after that line in build_js.py.

[2019-08-21 02:46] huningxin opened #295 "Create PR to main opencv repo"
Please create a PR based on `gosc_2019` branch to main opencv repo:
- [x] test with scalar, threads, simd, threads+simd builds
- [x] fork the branch to your own repo
- [x] squash into 1 commit with meaningful log message
- [x] rebase to opencv master branch
- [x] create PR to opencv master branch and cc @terfendail and @huningxin

[2019-08-21 02:48] huningxin commented on #257
Let's close it.

[2019-08-21 02:48] #257 closed, assigned to nobody

[2019-08-21 02:56] huningxin commented on #291
My data of threshold kernel with configuration (1920x1080, CV_8UC1, THRESH_BINARY) on Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz with 12 logical cores:

| build | mean time (ms) | speed up (to scalar) |
|-----|-----|----|
| scalar | 1.164 | 1 |
| threads | 0.261 | 4.45 |
| simd | 0.123 | 9.46 |
| threads + simd | 0.039 | 29.84 |

[2019-08-21 04:15] Wenzhao-Xiang commented on #294
Verified it. We still need this workaround.

[2019-08-21 05:00] Wenzhao-Xiang commented on #284
@huningxin @terfendail Emscripten just release 1.38.42. With the latest LLVM backend, the performance of `resize` kernel get some improvement.
* scalar: 5.319 ms
* simd: 4.410 ms

[2019-08-21 05:14] #294 closed, assigned to Wenzhao-Xiang

[2019-08-21 05:15] #279 closed, assigned to Wenzhao-Xiang

[2019-08-21 07:35] huningxin commented on #284
That's great news. I can reproduce this number.

As mentioned in https://github.com/emscripten-core/emscripten/issues/9269, it is fixed in latest LLVM upstream backend for latest V8. So please note the OpenCV.js built by latest LLVM upstream doesn't work with stable Chrome.

[2019-08-21 07:36] huningxin commented on #284
And according to native SIMD to scalar speedup, there are still big room to improve. Let's follow up this later.

[2019-08-21 07:52] huningxin commented on #284
This is an issue to get wat output of `wasm_v8x16_shuffle`, I report an issue to emscripten https://github.com/emscripten-core/emscripten/issues/9281

[2019-08-21 08:12] Wenzhao-Xiang opened #297 "[opencv.js simd] OpenCV.js test failed after rebase to the opencv main repo"
Opencv main repo improve the algorithm of `FAST_t` in https://github.com/opencv/opencv/commit/097d81363befbce1bf922379a4ea886e5f6dbd2b#diff-f551b4553be3427b9a96acf9230e1acd. It uses `v_reduce_sum`, which have bugs in WASM intrin implementation. That's the root cause.

I'll fix it in my repo.

[2019-08-21 08:20] Wenzhao-Xiang opened #298 "[opencv.js simd] the main opencv add `v_scan_forward` for universal intrinsics"
I'll fix this in my repo.

[2019-08-21 10:29] huningxin commented on #284
Also open this issue in emscripten for integer widening instructions https://github.com/emscripten-core/emscripten/issues/9283

[2019-08-21 10:56] #297 closed, assigned to Wenzhao-Xiang

[2019-08-21 10:56] #298 closed, assigned to Wenzhao-Xiang

[2019-08-22 04:07] Wenzhao-Xiang opened #299 "[Opencv.js samples] dnn sample face recognition have a 7-8x speed up"
Face recognition:

System: Ubuntu 16.04
Browser: Chrome, Version 78.0.3880.4 (Official Build) dev (64-bit)
Hardware: Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz with ８ logical cores:

| build | FPS | speed up (to scalar) |
|-----|-----|----|
| scalar | 2-3 | 1 |
| threads | 7 | about 2-4 |
| simd | 10-11 | about 3-5 |
| threads + simd | 21-22 | about 7-10 |

I think we can take this sample as real cas

[2019-08-22 05:43] huningxin commented on #299
Super! I can get 26FPS on my machine (Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz).

We may consider to add perf_dnn.js for wasm later.

[2019-08-22 05:44] Wenzhao-Xiang commented on #299
@huningxin Do we put it in GSoC2019 scope?

[2019-08-22 05:58] huningxin commented on #299
No. I mean for following work. It's excellent to have current results.

[2019-08-22 07:02] Wenzhao-Xiang commented on #299
Ok, got it!
Btw, could you please provide a more details about the face recognition performance data on you machine? Since I use your data of `Threshold` kernel, I'd like to unify the type of test machine. @huningxin

[2019-08-22 07:39] huningxin commented on #299
OS: Ubuntu Linux 16.04.5
Browser: Chrome, Version 78.0.3880.4 (Official Build) dev (64-bit)
Hardware: Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz with 12 logical cores

| OpenCV.js build | FPS | Speedup (to scalar) |
|----|----|----|
| scalar | 3 | 1 |
| threads | 10 | 3.33 |
| simd | 12 | 4 |
| threads + simd | 26 | 8.6 |

[2019-08-22 07:41] Wenzhao-Xiang commented on #299
Thanks! @huningxin

[2019-08-22 08:34] riju commented on #299
Amazing work @huningxin and @Wenzhao-Xiang !
@aleksazh and I are trying to make a ["Pro Camera" in JavaScript/PWA](https://github.com/riju/WebCamera) and  [face detection](https://riju.github.io/WebCamera/samples/faceDetection/) (scalar) was something we were trying to optimize. The threads + simd just blew our minds and yes, we are seeing similar numbers as @huningxin  just stated above.

However

[2019-08-22 11:48] terfendail commented on #290
I've discussed the place to put this analysis with the team. It was decided to put the analysis to GSoC related PR either as a comment or as an attached document(whatever is more convenient). There still is a discussion about a unified place to retain all results and/or reports of this GSoC. But anyway if all results of the project are stored as a PR we will be able to move them to appropriate pla

[2019-08-22 12:06] terfendail commented on #299
OS: Windows 10
Browser: Chrome, Version 76.0.3809.100 (Official Build) (64-bit)
Hardware: Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz with 4 logical cores

| OpenCV.js build | FPS | Speedup (to scalar) |
|----|----|----|
| scalar | 2 | 1 |
| threads | 4 | 2 |
| simd | - | - |
| threads + simd | - | - |

[2019-08-23 03:10] huningxin opened #300 "[Doc] add the SIMD and threads+SIMD data of perf tests"
Please add SIMD and threads+SIMD data into the doc https://docs.google.com/spreadsheets/d/17TS4wBDuKUr2aN_dOPlsGDX_7Zh8_XlUU3ownv3VZHs/edit#gid=0.

[2019-08-23 03:15] huningxin commented on #299
thanks @riju for your comments.

I didn't have a chance to test that on mobile phone browser. Did the non threads+SIMD version work on mobile chrome?

[2019-08-23 03:17] huningxin commented on #299
@terfendail thanks for the testing, for simd built by latest emscripten (1.38.42), you need a [chrome dev edition](https://www.google.com/chrome/dev/) to verify the result.

[2019-08-23 03:20] huningxin commented on #290
It sounds good, thanks @terfendail . @Wenzhao-Xiang , please follow that. I think we need to move those info to your PR, including

- [x] results, as https://github.com/huningxin/opencv/issues/300
- [x] analysis of the results and related emscripten/v8 issues, like https://github.com/huningxin/opencv/issues/284 #301

[2019-08-23 07:19] riju commented on #299
The _**scalar**_ version worked but _**slow**_. Let us know if your team can check the simd+threads version on phones. `navigator.hardwareConcurrency` on my mobile = `8`, so ideally it _should_ work, if sufficient memory can be allocated.

[2019-08-23 10:35] Wenzhao-Xiang commented on #295
Done.
PR link: https://github.com/opencv/opencv/pull/15371
Close it.

[2019-08-23 10:35] #295 closed, assigned to Wenzhao-Xiang

[2019-08-23 17:18] Wenzhao-Xiang commented on #300
Updated it.

Kernel | Type |  |   |   | Performance data(ms)  |   |   |   |  
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
|  |  | WASM(scalar) | WASM(threads=8) | WASM(SIMD128) | WASM(threads+SIMD) | Native(scalar) | Native(threads=8) | Native(SIMD128) | Native(threads+SIMD)
  | BGR2GRAY | 2.747 | 0.722 | 11.355 | 1.869 | 2.11 | 0.58 | 1.91 | 0.43
cvtColor | YUV2BGR | 12.04 | 2.636 | 27.02 | 4

[2019-08-26 09:27] terfendail commented on #300
IMHO This way table looks more convenient(there is no scroll, at least for a GitHub comment)
# Kernel performance(ms)

Kernel |  | cvtColor |  | resize | threshold
--- |:---:|:---:|:---:|:---:|:---:
**Type** | **BGR2GRAY** | **YUV2BGR** | **BGR2YUV** | **LINEAR_EXACT** | **THRESH_BINARY**
WASM(scalar) | 2.747 | 12.04 | 10.685 | 5.425 | 1.347
WASM(threads=8) | 0.722 | 2.636 | 2.618 | 2.529 | 0.353

[2019-08-28 03:28] huningxin opened #301 "[SIMD] optimize the cvtColor kernel"
According to https://github.com/huningxin/opencv/issues/300#issuecomment-524790373, the SIMD `cvtColor` kernel is times slower than scalar version.

According to my investigation, the root cause is the inefficient `pshufb` with memory operands are generated by V8 for current implementation.

One solution is to refer to [sse implementation](https://github.com/opencv/opencv/blob/master/modules/core/

[2019-08-28 08:25] huningxin commented on #300
@Wenzhao-Xiang , please move the data to PR, then close it.

[2019-08-28 08:32] huningxin commented on #301
@Wenzhao-Xiang , please move this info to PR for record.

[2019-08-28 08:33] huningxin commented on #284
@Wenzhao-Xiang , please move the info to PR.

[2019-08-29 04:15] Wenzhao-Xiang commented on #300
Done, closed it.

[2019-08-29 04:15] #300 closed, assigned to Wenzhao-Xiang

[2019-09-05 06:07] Wenzhao-Xiang opened #302 "[SIMD] Check if `wasm_f32x4_sqrt` is still unimplemented with the latest emscripten LLVM backend"

[2019-09-05 13:38] #290 closed, assigned to Wenzhao-Xiang

[2019-09-05 13:40] huningxin opened #303 "[SIMD] revisit shuffle usages"
Revisit shuffle usage and map to V8 arch shuffle pattern matching as much as possible.

[2019-09-05 13:46] huningxin opened #304 "[Perf] add more kernels into perf test"
Per https://github.com/huningxin/opencv/issues/260#issuecomment-500885482

- [x] cvtColor(especially BGR2GRAY, YUV2BGR, BGR2YUV)
- [x] resize(especially LINEAR_BITEXACT/LINEAR)
- [x] Sobel
- [x] filter2D
- [x] Scharr
- [x] gaussianBlur
- [x] blur
- [x] medianBlur
- [x] erode
- [x] dilate
- [ ] morphologyEx (skipped)
- [x] remap
- [x] warpAffine
- [x] warpPerspective
- [x] pyrDown
- [ ] buildPyramy

[2019-09-05 13:48] huningxin opened #305 "[Perf] optimize the perf tests"
1. reuse code as much as possible
2. allow to run multiple kernels in one page

[2019-09-05 13:49] huningxin opened #306 "[SIMD] implement the type 64 intrinsics"
They are `f64`, `i64`, `u64`. Current they use fallback implementation.

[2019-09-05 13:51] huningxin opened #307 "[SIMD] improve the intrinsics test"
Move it out of core_binding.cpp.

[2019-09-05 13:53] huningxin opened #308 "[DNN] add image classification js example"
The example can show the top results and probabilities. The image can be uploaded by user.

[2019-09-05 13:53] huningxin opened #309 "[DNN] add ONNX model importer example"

[2019-09-05 13:54] huningxin opened #310 "[DNN] investigate layer/op support"

[2019-09-05 13:54] huningxin opened #311 "[DNN] add object detection js example"
The example can draw a box of the object and show the predicted label. It can interact with the WebRTC or the visual content uploaded by user.

[2019-09-05 13:55] huningxin opened #312 "[DNN] add perf test"

[2019-09-06 02:44] huningxin commented on #310
https://github.com/opencv/opencv/wiki/Deep-Learning-in-OpenCV

[2019-09-06 02:45] huningxin commented on #312
https://github.com/opencv/opencv/wiki/DNN-Efficiency

[2019-09-06 02:52] Wenzhao-Xiang commented on #302
@akineeic @huningxin Help checked it.
It's still unimplemented with the latest emscripten LLVM backend.
Opened an [emscripten issue here](https://github.com/emscripten-core/emscripten/issues/9399).

[2020-03-09 02:03] huningxin commented on #301
Link to https://github.com/WebAssembly/simd/issues/196

[2020-03-09 02:04] #299 closed, assigned to nobody

[2020-03-09 02:05] huningxin commented on #284
https://github.com/emscripten-core/emscripten/issues/9283 closed, we can implement it in opencv side.

[2020-03-09 02:29] huningxin commented on #302
should revisit it.

[2020-05-25 02:30] huningxin commented on #309
dnn examples are supposed to support multiple model formats. Close this specific one.

[2020-05-25 02:30] #309 closed, assigned to nobody

[2020-05-25 02:33] huningxin opened #313 "[DNN] Investigate image classification python example"
https://github.com/opencv/opencv/blob/master/samples/dnn/classification.py

[2020-05-25 02:39] huningxin opened #314 "[DNN] Investigate object detection python example"
https://github.com/opencv/opencv/blob/master/samples/dnn/object_detection.py

[2020-05-25 02:43] huningxin opened #315 "[DNN] Investigate segmentation python example"
https://github.com/opencv/opencv/blob/master/samples/dnn/segmentation.py

[2020-05-25 02:43] huningxin opened #316 "[DNN] add segmentation js example"

[2020-05-25 02:46] huningxin opened #317 "[DNN] investigate openpose python example"
https://github.com/opencv/opencv/blob/master/samples/dnn/openpose.py

[2020-05-25 02:46] huningxin opened #318 "[DNN] add openpose js example"

[2020-05-25 02:51] huningxin opened #319 "[DNN] add fast fast neural style js example"
python version: https://github.com/opencv/opencv/blob/master/samples/dnn/fast_neural_style.py

[2020-05-25 02:52] huningxin opened #320 "[DNN] add colorization js example"
python version: https://github.com/opencv/opencv/blob/master/samples/dnn/colorization.py

[2020-05-25 02:53] huningxin opened #321 "[DNN] investigate js face recognition example"
https://github.com/opencv/opencv/blob/master/samples/dnn/js_face_recognition.html

[2020-05-25 02:55] huningxin opened #322 "[DNN] add unit test"
https://github.com/opencv/opencv/tree/master/modules/js/test

[2020-05-25 03:02] huningxin commented on #313
@akineeic , we need to know:
1. how to get the models?
2. what models are supported?
3. what are the functions (input/output, UI etc.,) of the example?

These information are helpful for you define the js example. Please update your progress in this issue. Thanks!

[2020-05-25 03:04] huningxin commented on #321
@akineeic , we need to know:

1. how does the CMake system work for this js example?
2. what are the functions of this example?
3. how these functions are implemented?

Please help update your progress in this issue. Thanks!

[2020-05-25 03:51] huningxin commented on #252
duplicated by #312

[2020-05-25 03:51] #252 closed, assigned to nobody

[2020-05-25 03:52] huningxin commented on #207
done.

[2020-05-25 03:52] #207 closed, assigned to huningxin

[2020-05-25 03:52] huningxin commented on #208
duplicated by gsoc_2020_dnn project.

[2020-05-25 03:52] #208 closed, assigned to pancx

[2020-05-25 03:56] huningxin opened #323 "[GPU] investigate the vkcom module"
https://github.com/opencv/opencv/tree/master/modules/dnn/src/vkcom

[2020-05-25 06:47] huningxin opened #324 "[GPU] implement WebGpuBackendNode"

[2020-05-25 06:48] huningxin opened #325 "[GPU] implement WebGpuBackendWrapper"

[2020-05-25 06:49] huningxin opened #326 "[GPU] implement webgpu::Tensor"

[2020-05-25 06:50] huningxin opened #327 "[GPU] implement webgpu::OpBase"

[2020-05-25 06:51] huningxin opened #328 "[GPU] implement webgpu::Buffer"

[2020-05-25 06:54] huningxin opened #329 "[GPU] implement operations"
- [x] OpConcat
- [x] OpConv
- [x] OpLrn
- [x] OpPermute
- [x] OpPool
- [x] OpPriorBox
- [x] OpRelu
- [x] OpSoftmax

[2020-05-25 06:55] huningxin opened #330 "[GPU] dnn unit tests"

[2020-05-25 06:55] huningxin opened #331 "[GPU] dnn perf tests"

[2020-05-25 07:02] huningxin opened #332 "[SIMD] investigate wasm simd implementation"
@lionkunonly , please ramp up wasm simd development by doing following tasks:

- [x] build opencv.js with wasm simd support
- [x] run unit tests of wasm simd intrinsics
- [x] run perf tests of wasm simd and replicate the perf issue of cvtColor and resize kernels

If you meet any issues, please let us know. Thanks!

[2020-05-25 07:48] huningxin commented on #332
build instruction: https://docs.opencv.org/4.3.0/d4/da1/tutorial_js_setup.html

[2020-05-25 07:55] huningxin commented on #332
Some references:

OpenCV Universal intrinsics: https://docs.opencv.org/3.4/df/d91/group__core__hal__intrin.html

2019  OpenCV.js WASM SIMD:
https://gist.github.com/Wenzhao-Xiang/8636e239c20e0eda839833f9d363828e
https://github.com/opencv/opencv/pull/15371/files

WASM intrinsics hal:
https://github.com/opencv/opencv/blob/master/modules/core/include/opencv2/core/hal/intrin_wasm.hpp

WASM SIMD128 :
ht

[2020-05-26 02:04] huningxin opened #333 "[GPU] implement webgpu::Context"

[2020-05-26 02:12] huningxin opened #334 "[GPU] use native dawn devel package for development environment"

[2020-05-26 02:30] huningxin opened #335 "[GPU] create webgpu component"
create <opencv_dir>/modules/dnn/src/webgpu

[2020-05-26 03:10] NALLEIN commented on #323
Vulkan and DAWN/WebGPU API mapping list:

Vulkan | Dawn
-- | --
 **Stage**  |  **Create Instance&Device**
vkCreateInstance | wgpuInstanceCreateSurface/   wgpuInstanceRequestAdapter
vkEnumeratePhysicalDevices | wgpuAdapterGetProperties
vkCreateDevice | wgpuAdapterRequestDevice
**Stage**  |  **BufferManager Buffer Create/Read/Write/Destroy**
vkCreateBuffer/   vkGetBufferMemoryRequirements | wgpuDevi

[2020-05-28 02:19] NALLEIN commented on #334
Building dawn using gn is completed and corresponding tests provided by dawn project have passed.
Currently updating cmake in opencv to enable it.

[2020-05-28 05:13] lionkunonly commented on #332
Hi, Ningxin. I have built the build opencv.js with wasm simd support. But when I try to use `node.js` (version 14.3.0) to run the js for unit tests of wasm simd intrinsic, it failed. The error log is:
[code]
And in the Opencv.js build, it prints the log like it:
[code]
I have installed the emsripten and test it successfully. I do not know why these logs are printed. Is the reason that causes my pr

[2020-05-28 07:56] huningxin commented on #332
Are you able to run browser tests as "Manually in your browser" of https://docs.opencv.org/master/d4/da1/tutorial_js_setup.html?

[2020-06-01 15:28] lionkunonly commented on #332
Sorry for the late reply. Due to problems on my environment,  I have to test it in these days.
I have tried to run browser tests as "Manually in your browser". The result was that it failed.
The following is the screenshot.

![Manully test](https://user-images.githubusercontent.com/26929797/83423891-30278980-a45e-11ea-9743-89df78b2887b.png)

I also tried to build the wasm version of OpenCV.js. And

[2020-06-02 00:48] huningxin commented on #332
Thanks for the following up. What are the versions of your OpenCV (commit) and emscripten (version)?

[2020-06-02 02:18] lionkunonly commented on #332
emscripten(version):
[code]

OpenCV(commit):
[code]

[2020-06-02 07:04] huningxin opened #336 "[Question] opencv base branch of gsoc work"
@terfendail , as GSoC coding starts, I'd like to clarify with you that which opencv branch should we base on, `master` or `3.4`?

[2020-06-02 07:07] huningxin commented on #332
I can reproduce the unit test issue and simd issue with emscripten 1.39.16. Let's investigate the root cause. BTW, @akineeic , which is the last version of emscripten you built opencv.js / simd successfully recently?

[2020-06-02 07:28] NALLEIN commented on #334
Enable native build in [this repo](https://github.com/NALLEIN/dawn_buildTest) . Currently   copying the required files(.so .h) to opencv and change CMakelists.txt.

[2020-06-02 07:34] huningxin commented on #334
Would you like to send a PR to https://github.com/huningxin/opencv/tree/gsoc_2020_gpu that adds dawn dependency?

[2020-06-02 07:38] akineeic commented on #332
I build with 1.39.1 serveral days ago and send to @lionkunonly to test with no error, maybe can try to return to previous version.

[2020-06-02 07:49] NALLEIN commented on #334
I will keep following this  [PR](https://github.com/huningxin/opencv/pull/338) .

[2020-06-02 08:04] huningxin commented on #332
I tested with 1.39.1, the tests can run with some errors. My build command
[code]

The tests.html result is "Total: 562 Failed: 5 Passed: 557". And there are 3 failed cases for `cv.test_hal_intrin_float32()`.

[2020-06-02 08:46] huningxin commented on #332
The SIMD issue of 1.39.16 may be related to this one: https://github.com/WebAssembly/simd/issues/216. I'll do more investigations.

[2020-06-03 01:02] lionkunonly commented on #332
Hi, Ningxin. I have tested with 1.39.1, too.But the result of test.html is 'Total: 562 Failed: 0 Passed: 562'. There is no error. And I can build the opencv.js that support the functions --  `test_hal_intrin_all()` and others.

[2020-06-03 06:06] #323 closed, assigned to nobody

[2020-06-03 07:32] huningxin commented on #332
The errors are only for simd build. Did you try simd build?

[2020-06-03 07:35] huningxin commented on #332
The SIMD issue of emscripten 1.39.16 is fixed by [Chrome dev version](https://www.google.com/chrome/dev/). For me, I can run all test cases of tests.html successfully on Chrome 85.0.4158.4.

@lionkunonly , please help verify that on your side.

[2020-06-03 08:15] huningxin commented on #332
This would be caused by [promise based module](https://github.com/emscripten-core/emscripten/pull/10697) introduced in emscripten 1.39.16.

[2020-06-03 08:20] huningxin commented on #332
I have a temporary solution as https://github.com/huningxin/opencv/commit/daa62e65196d6af694ac55291a62ff4b73d0dc04, please help verify whether it works for you. @lionkunonly .

[2020-06-03 12:28] lionkunonly commented on #332
Thanks for your help, Ningxin.  I have tested the `daa62e6`. The SIMD issue of emscripten 1.39.16 on Chrome 85.0.4158.4 is fixed on my computer.

[2020-06-03 14:58] lionkunonly commented on #332
In the morning, I can get the result with no error and I think I tired simd build at that time. However, in the evening, I find that I can not reproduce the result.

[2020-06-04 03:24] lionkunonly commented on #332
Hi, Ningxin. Can the function `cv.onRuntimeInitialized` with the `promise based module` work now?  I find some code in perf test use this callback function to control the workflow, but it seems can not work.

[2020-06-04 07:58] lionkunonly commented on #332
Hi, Ningxin. Due to the emscripten 1.39.16, the node.js can not run the perf test successfully. So I choose to do perf test on browser. We should modify the perf test files to fit the `promise based module`. Now I have run the perf test successfully.

But in my experiments, I find there is some changes in test result of  kernel CvtColor and Resize. Here are my results.

chrome dev  85.0.4158.4, em

[2020-06-08 02:18] huningxin commented on #313
The js tutorial should showcase:
1. fetch model from network and save to emscripten fs (I/O)
2. load model into memory
3. blob from image and pre-processing
4. run model
5. post-processing and classification result
6. get performance data

[2020-06-08 02:27] huningxin commented on #313
@akineeic , please create a table that lists all the image classification models the python example supports, including the URL, pre-processing, post-processing and results.

[2020-06-08 02:34] huningxin commented on #321
The js tutorial should showcase:

1. fetch model from network and save to emscripten fs (I/O)
2. load model into memory
3. blob from image and pre-processing
4. run model
5. post-processing and classification result
6. get performance data

@akineeic , please add js code snippets for these tasks.

[2020-06-08 03:09] huningxin commented on #332
@lionkunonly , please send a PR that includes your fix for unit tests and perf test files for emscripten 1.39.16. Please send the PR to https://github.com/huningxin/opencv/tree/gsoc_2020_simd

[2020-06-08 07:23] huningxin commented on #336
@terfendail mentioned in sync meeting that we should rebase our development work on 3.4 branch. For me, I'll re-create our gsoc branches based on 3.4.

[2020-06-08 07:37] huningxin commented on #306
@lionkunonly asked whether there are any performance tests of 64 bit intrinsics in native opencv. @terfendail , could you please help check? Thanks!

[2020-06-08 07:44] huningxin commented on #336
@akineeic @NALLEIN @lionkunonly , the gsoc staging branches
https://github.com/huningxin/opencv/tree/gsoc_2020_dnn
https://github.com/huningxin/opencv/tree/gsoc_2020_gpu
https://github.com/huningxin/opencv/tree/gsoc_2020_simd

are rebased to opencv 3.4 branch https://github.com/opencv/opencv/tree/3.4. Please rebase your development work on that as well. Thanks!

[2020-06-08 12:08] terfendail commented on #306
I think the most affected function should be `countNonZero()` for `CV_64F`. `minMaxIdx()` and `Mat::dot()` could also be affected. `split()` and `merge()` functions are affected too, but they use just `vx_load/v_store` subset so could be less representative.

[2020-06-08 13:58] lionkunonly commented on #332
My configuration is **Ubuntu 16.04, Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz, chrome dev 85.0.4158.4, and emscripten 1.39.16**.

In my experiments, I find that the cache of the chrome dev may load the the opencv.js tested before. For example, I test the simd version firstly. Then when I try to test the wasm version, the chrome dev may loaded the cache of simd version of opencv.js and give out the s

[2020-06-08 14:12] huningxin commented on #332
You can build opencv.js with different options (e.g. non-simd vs. simd) in different folders, then launch different instances of node.js http-server in each folder. The two http-servers will occupy different ports (e.g. 8080 and 8081).

To disable the chrome disk cache, you can open the developer tools, go to network tab and check "disable cache".

![image](https://user-images.githubusercontent.co

[2020-06-10 13:16] lionkunonly commented on #306
@huningxin  Hi, Ningxin. I find there are some statements `#ifdef __wasm_unimplemented_simd128__` in the file `intrin_wasm.hpp`. What should I do for them? Just delete them?

[2020-06-10 13:34] huningxin commented on #306
You should check against "wasm_simd128.h" of the your emscripten, e.g. 1.39.16. If an intrinsic is not guarded by `__wasm_unimplemented_simd128__` anymore, you should remove the guard and use that intrinsic in "intrin_wasm.hpp" accordingly. The current usage of this guard in "intrin_wasm.hpp" was done in last GSoC, you need to update it.

[2020-06-10 13:40] huningxin opened #340 "[SIMD] add perf tests for 64bit intrinsics"
As @terfendail mentioned in https://github.com/huningxin/opencv/issues/306#issuecomment-640563017, there are

- [x]  `countNonZero()` for CV_64F.
- [ ] `minMaxIdx()`
- [x] `Mat::dot()`
- [x] `split()`
- [x] `merge()`

[2020-06-10 13:40] huningxin commented on #306
Thanks @terfendail , I think they are good ones for 64 bit intrinsics perf test. Created https://github.com/huningxin/opencv/issues/340 to track it.

[2020-06-12 05:08] #336 closed, assigned to terfendail

[2020-06-12 05:20] huningxin commented on #332
With #341 merged, I built and ran the perf tests with emscripten 1.39.16 and chrome dev 85.0.4164.4. My CPU is i7-8665U @ 1.90GHz.

|  | WASM Scalar (mean time) |  WASM SIMD (mean time) | SIMD speedup |
|---|---|---|---|
| CvtColor (1920x1080,COLOR_RGBA2GRAY) | 2.88 | 3.38 | 0.85X |
| resize  (CV_8UC1,640x480,960x540) | 2.65 | 1.45 | 1.82X |
| threshold (1920x1080, CV_8UC1, THRESH_BINARY) | 1.31 |

[2020-06-12 05:55] lionkunonly commented on #332
It is a good test, but the result is different with what i got from my test.  I am going to retest it. Is the scalar version built with `--build_wasm` only?

[2020-06-12 06:14] huningxin commented on #332
Yes.

[2020-06-12 06:31] lionkunonly commented on #332
@huningxin . The retest result is:
|  | WASM Scalar (mean time) |  WASM SIMD (mean time) | SIMD speedup |
|---|---|---|---|
| CvtColor (1920x1080,COLOR_RGBA2GRAY) | 8.0948 | 4.5518 | 1.778X |
| resize  (CV_8UC1,640x480,960x540) | 5.5866 | 1.9314 | 2.89X |
| threshold (1920x1080, CV_8UC1, THRESH_BINARY) | 4.6089 | 0.1596 | 25.49X  |

The SIMD can bring big improvement in my computer. But I find tha

[2020-06-12 06:48] huningxin commented on #332
I tested on another machine with i7-8700 CPU @ 3.20GHz, the data I got:

|  | WASM Scalar (mean time) |  WASM SIMD (mean time) | SIMD speedup |
|---|---|---|---|
| CvtColor (1920x1080,COLOR_RGBA2GRAY) | 2.33 | 2.77 | 0.84X |
| resize  (CV_8UC1,640x480,960x540) | 2.17 | 1.25 | 1.73X |
| threshold (1920x1080, CV_8UC1, THRESH_BINARY) | 1.19 | 0.15 | 7.9X  |

[2020-06-22 01:03] akineeic commented on #321
I have divided code into several parts as follows:

- [x] 1 fetch model [code](https://github.com/huningxin/opencv/blob/b35568c9362de1af0ea0014bf290ef1b9e2f2aaa/doc/js_tutorials/js_assets/js_image_classification.html#L166-L180)

- [x] 2&4 run model [code](https://github.com/huningxin/opencv/blob/b35568c9362de1af0ea0014bf290ef1b9e2f2aaa/doc/js_tutorials/js_assets/js_image_classification.html#L183-L

[2020-06-22 01:52] akineeic commented on #313
I have tested the models listed in opencv [wiki](https://github.com/opencv/opencv/wiki/Deep-Learning-in-OpenCV). The processing information mainly includes mean, std, softmax, RGB or BGR and the labels txt file. The models predict correctly yet are as follows:

- caffe

Caffe Model | mean | std | softmax | rgb | labels txt
:------------: | :-------------: | :-------------: | :-------------: | :---

[2020-06-22 02:08] huningxin opened #344 "[DNN] investigate the model zoo script for js examples usage"

[2020-06-22 06:50] lionkunonly commented on #340
The API `minMaxIdx` is not appeared in the `bindings.cpp`. I only find the API `minMaxLoc`.

[2020-06-22 07:49] huningxin opened #345 "[SIMD] The esmcripten version guard"
As reported by @lionkunonly  in PR #342 , there are some WASM SIMD features are only supported in latest emscripten version (1.39.16) and not available in old version. So it means if merge it as is, there will be build errors for old version of emscripten. We may need to put emscripten version guard to handle this.

@terfendail , could you please check whether this is necessary from opencv team pe

[2020-06-22 07:56] huningxin commented on #340
@lionkunonly , if a function is not in https://github.com/huningxin/opencv/blob/master/modules/js/src/core_bindings.cpp, you can check in this file: https://github.com/huningxin/opencv/blob/master/platforms/js/opencv_js.config.py that contains the generated ones.

If there is not `minMaxIdx` in both files, I would suggest to skip it first.

[2020-06-22 07:58] huningxin commented on #340
@lionkunonly , please send a PR that adds these kernels into perf tests. We can measure and optimization the performance as the next step. Thanks!

[2020-06-23 09:38] terfendail commented on #345
I've discussed the situation with the team. it was decided it's a perfect time to update CI emscripten since actual version used for CI checks is quite old.
So version guard isn't necessary but it will be necessary to add information about required emscripten version to WASM intrinsics related pull request to main OCV repository.

[2020-06-26 03:17] lionkunonly commented on #340
The perf tests are integrated in the file ` modules/js/test/test_64bit.js`. It is used in the `modules/js/test/tests.html`. The performance about time cost is printed in the console. Please check it.

[2020-06-29 02:38] huningxin opened #347 "[SIMD] add required emscripten version into opencv.js build instructions"

[2020-06-29 02:39] huningxin commented on #345
@lionkunonly , please follow up to add required emscripten version into the opencv.js build instrcutions. Created #347 to track this.

[2020-06-29 02:39] #345 closed, assigned to terfendail

[2020-06-30 08:45] lionkunonly commented on #347
Should I investigate which emscripten version can support this new 64-bit feature? For example, I use version 1.39.16 now, and I need to verify the 1.39.15, 1.39.14, 1.39.13, and so on.

[2020-07-06 02:27] huningxin opened #349 "[DNN] Clarify the model deployment approach with OpenCV stakeholders"

[2020-07-06 02:32] huningxin commented on #313
please update the status of darknet, then we can close it.

[2020-07-06 02:33] huningxin commented on #321
please update the status and we can close this one.

[2020-07-06 02:50] huningxin opened #350 "[DNN] add camera based image classification tutorial"

[2020-07-06 02:53] #321 closed, assigned to akineeic

[2020-07-06 03:08] akineeic commented on #313
Most models mentioned in the [wiki](https://github.com/opencv/opencv/wiki/Deep-Learning-in-OpenCV) except darknet have been tested and update in the above table. The inference result of darknet is incorrect yet that may caused by the parameters.

[2020-07-06 03:08] #313 closed, assigned to akineeic

[2020-07-06 07:03] #332 closed, assigned to lionkunonly

[2020-07-06 07:05] huningxin commented on #332
@lionkunonly , please post the perf test result of cvtColor to #301 and resize to #284 .

[2020-07-06 07:06] huningxin commented on #306
As #342 merged, close this one.

[2020-07-06 07:06] #306 closed, assigned to lionkunonly

[2020-07-06 07:10] huningxin commented on #347
Please document the emscripten version you are using, e.g. 1.39.16.

[2020-07-06 07:11] huningxin commented on #340
@lionkunonly , please report the initial perf data of 64bit intrinsics here. Thanks.

[2020-07-06 07:23] huningxin commented on #305
You can add `Sobel` kernel into the new perf test framework as an example.

[2020-07-06 07:29] lionkunonly commented on #302
`wasm_f32x4_sqrt` is implemented now.  And it is applied in the WASM SIMD version

[2020-07-06 07:43] lionkunonly commented on #347
@huningxin , @terfendail . Is there any existing docs that record the emscripten version for build instructions? I don't find such files. Should I create a new doc?

[2020-07-07 02:27] huningxin opened #351 "[GPU] optimize the Buffer.MapReadAsyncAndWait"

[2020-07-07 02:36] huningxin opened #352 "[GPU] add dnn test layer for softmax"

[2020-07-07 02:40] huningxin commented on #352
a softmax layer example in onnx importer test: https://github.com/opencv/opencv/blob/master/modules/dnn/test/test_onnx_importer.cpp#L69

[2020-07-07 03:03] huningxin commented on #347
https://github.com/huningxin/opencv/blob/master/doc/js_tutorials/js_setup/js_setup/js_setup.markdown

[2020-07-07 03:06] huningxin commented on #302
Good. Then please fix them in intrin_wasm.hpp, e.g.

https://github.com/huningxin/opencv/blob/master/modules/core/include/opencv2/core/hal/intrin_wasm.hpp#L2611

[2020-07-07 03:07] huningxin commented on #340
@lionkunonly , please update that and we can close this issue. Thanks!

[2020-07-07 04:28] wzw-intel commented on #352
sample of unit test for a specific layer:
https://github.com/opencv/opencv/blob/master/modules/dnn/test/test_layers.cpp#L1589

[2020-07-15 07:22] lionkunonly commented on #302
@huningxin  It is fixed in the branch `gsoc_2020_simd`. Do I need to fix it in the master?

[2020-07-18 15:05] NALLEIN commented on #329
Integrate some ops into the dnn module, the test method is as follows
[code]
At present, there are still problems with the three ops of Concat, Permute and Prior_box, which are caused by the difference between wgpu::BindGroup and VkDescriptorSet. I will continue to fix them in the future.

[2020-07-18 15:08] NALLEIN commented on #329
[Integrate some ops into the dnn module](https://github.com/huningxin/opencv/pull/354), the test method is as follows
Set test data path
[code]
Test ops
[code]

[2020-07-20 02:02] #308 closed, assigned to akineeic

[2020-07-20 06:02] huningxin commented on #302
No, it would be fine.

[2020-07-20 06:04] #302 closed, assigned to lionkunonly

[2020-07-21 02:27] huningxin opened #356 "[GPU] compile the dawn implementation to JavaScript"

[2020-07-21 02:31] NALLEIN commented on #328
Fix in [this PR](https://github.com/huningxin/opencv/pull/338).

[2020-07-21 02:31] #328 closed, assigned to nobody

[2020-07-21 02:32] NALLEIN commented on #326
Fix in [this PR](https://github.com/huningxin/opencv/pull/338).

[2020-07-21 02:32] #326 closed, assigned to nobody

[2020-07-21 02:32] NALLEIN commented on #333
Fix in [this PR](https://github.com/huningxin/opencv/pull/338).

[2020-07-21 02:33] #333 closed, assigned to nobody

[2020-07-21 02:33] NALLEIN commented on #335
Fix in [this PR](https://github.com/huningxin/opencv/pull/338).

[2020-07-21 02:33] #335 closed, assigned to nobody

[2020-07-21 02:34] #334 closed, assigned to NALLEIN

[2020-07-21 02:34] NALLEIN commented on #324
Fix in [this PR](https://github.com/huningxin/opencv/pull/338).

[2020-07-21 02:34] #324 closed, assigned to nobody

[2020-07-21 02:34] NALLEIN commented on #325
Fix in [this PR](https://github.com/huningxin/opencv/pull/338).

[2020-07-21 02:34] #325 closed, assigned to nobody

[2020-07-21 02:35] NALLEIN commented on #352
Fix in [this PR](https://github.com/huningxin/opencv/pull/338).

[2020-07-21 02:35] #352 closed, assigned to NALLEIN

[2020-07-21 02:53] huningxin commented on #349
@akineeic , could you please host the current examples in your personal github and share the link? I can use that to demo and communicate with OpenCV team. Thanks!

[2020-07-21 07:19] huningxin commented on #301
@lionkunonly , please report the latest perf data you have. Thanks!

[2020-07-21 07:20] huningxin commented on #284
@lionkunonly , please report the latest perf data. Thanks!

[2020-07-22 09:38] lionkunonly commented on #340
@huningxin. The perf of 64bit intrinsics is here.

**Ubuntu 16.04, Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz, chrome dev 85.0.4158.4, and emscripten 1.39.16.**

|  Kernel  | Before 64bit implementation (ms) |  After 64bit implementation (ms) | Speedup |
|---|---|---|---|
| countNonZero()  | 0.6229 | 0.6240  | 0.998x |
| Mat::dot() | 1.4242 | 1.3906 | 1.024x |
| split()  | 3.9420 | 3.8305 |  1.029x |

[2020-07-23 03:00] huningxin commented on #340
Thanks for the data @lionkunonly , could you please collect the data on the 8th gen CPU?

[2020-07-23 05:53] lionkunonly commented on #305
This is the simple introduction for the perf test of `Sobel`.

The perf for kernel `Sobel` is added. Please review it in the file `perf_sobel.html` nad `perf_sobel.js`. Because the parameters in the kernel `Sobel` is more than previous kernels, the number of test cases in `Sobel` is 2496. The declaration of kernel `Sobel` is:
[code]
I list the supported parameters setting and their own possible va

[2020-07-23 06:07] lionkunonly commented on #347
The PR for adding the required emscripten version is merged. I think this issue should be closed.

[2020-07-23 06:07] #347 closed, assigned to lionkunonly

[2020-07-23 06:08] lionkunonly commented on #305
If you think the perf test for `Sobel` is ok, the issue can be closed.

[2020-07-23 11:55] lionkunonly commented on #340
@huningxin. The perf of 64bit intrinsics is here.

**Ubuntu 18.04, Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz, chrome dev 85.0.4183.26, and emscripten 1.39.16.**

|  Kernel  | Before 64bit implementation (ms) |  After 64bit implementation (ms) | Speedup |
|---|---|---|---|
| countNonZero()  | 0.5386 | 0.5221  | 1.032x |
| Mat::dot() | 0.8079 | 0.7960 | 1.015x |
| split()  | 2.1213 | 2.0483 |  1.036x

[2020-07-23 12:50] lionkunonly commented on #301
**Ubuntu 18.04, Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz, chrome dev 85.0.4183.26, and emscripten 1.39.16.**

|  | WASM Scalar (mean time) |  WASM SIMD (mean time) | SIMD speedup |
|---|---|---|---|
| CvtColor  (1920x1080,COLOR_RGBA2GRAY) | 2.4161 | 2.8215 | 0.86X |

[2020-07-23 13:06] lionkunonly commented on #284
**Ubuntu 18.04, Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz, chrome dev 85.0.4183.26, and emscripten 1.39.16.**

|  | WASM Scalar (mean time) |  WASM SIMD (mean time) | SIMD speedup |
|---|---|---|---|
| resize  (CV_8UC1,640x480,960x540) | 2.2895 | 1.2878 | 1.778X |

[2020-07-24 02:42] lionkunonly commented on #284
@huningxin  Does it mean that I need to use the widening operation in SIMD to optimize the  `v_dotprod`?

@terfendail  Hi, vitaly. I find it is hard to find which intrinsic plays an important role in the kernel for me. Cloud you introduce me how to find out the intrinsics used in the execution of one specific kernel?

[2020-07-24 07:58] akineeic commented on #349
I set github page for image classification example ([picture](https://akineeic.github.io/opencvjs/dnn/js_image_classification.html) and [camera](https://akineeic.github.io/opencvjs/dnn/js_image_classification_with_camera.html)). But the file loading speed of the webpage is very slow since it needs several minutes to load the bvlc_googlenet caffemodel (53MB).

[2020-07-24 08:29] lionkunonly commented on #301
@huningxin Hi, Ningxin. I am not sure how to optimize the CvtColor. Do you have more suggestions in detail?

[2020-07-24 23:26] huningxin commented on #349
Looks good. Do you hosted multiple models? So user may try other models by change the URL?

[2020-07-24 23:36] huningxin commented on #301
As mentioned in https://github.com/huningxin/opencv/issues/301#issuecomment-596299378, this issue depends on https://github.com/WebAssembly/simd/issues/196 and https://github.com/emscripten-core/emscripten/issues/9340.

Compared to [the last year's performance](https://github.com/opencv/opencv/pull/15371) (0.24X), your latest data (0.86X) is 3.5X faster.

It seems WebAssembly community is still wo

[2020-07-24 23:46] huningxin commented on #284
Yes. Please try that and see whether it optimizes the performance.

You can also compare it to native perf test results to know the baseline. Please refer to #259 for different build configuration (scalar or SIMD).

You can use [vtune](https://software.intel.com/content/www/us/en/develop/tools/vtune-profiler.html) as a tool to profile the perf test and see which function is hot.

[2020-07-24 23:49] huningxin commented on #304
Hi @lionkunonly , with #357 done, I think you can go ahead to add more kernels including filter2D into the js perf test.

With that, you can collect the performance and give us a whole picture and disclose any perf issues within current implementation. Lacking of good coverage of perf tests is one major missing part of last year's GSoC. Please help close that.

@terfendail , what do you think?

[2020-07-24 23:49] huningxin commented on #340
Thanks. Let's close it.

[2020-07-24 23:49] #340 closed, assigned to lionkunonly

[2020-07-24 23:50] huningxin commented on #305
Thanks! It looks good. With the optimized perf tests, please continue to work on #304 .

[2020-07-24 23:50] #305 closed, assigned to lionkunonly

[2020-07-25 02:10] akineeic commented on #349
Not yet. But user can change the URL according the [JSON](https://github.com/huningxin/opencv/blob/gsoc_2020_dnn/doc/js_tutorials/js_assets/js_image_classification_model_info.json) file in this repo. The URLs for all [ONNX](https://github.com/huningxin/opencv/blob/gsoc_2020_dnn/doc/js_tutorials/js_assets/js_image_classification_model_info.json#L54-L136) models, [squeezeNet](https://github.com/huni

[2020-07-25 02:20] akineeic commented on #315
I have tested the models for semantic segmentation in the [wiki](https://github.com/opencv/opencv/wiki/Deep-Learning-in-OpenCV). The [ResNet101_DUC_HDC](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/duc) can't be read correctly and the output image of [Enet](https://github.com/e-lab/ENet-training) doesn't look good visually. I have report these issues ([ResNet101_

[2020-07-25 07:24] huningxin commented on #316
fixed by #359

[2020-07-25 07:24] #316 closed, assigned to akineeic

[2020-07-25 07:31] huningxin commented on #349
For GoogleNet in the tutorial, why you don't use ?
"modelUrl": "http://dl.caffe.berkeleyvision.org/bvlc_googlenet.caffemodel",
"configUrl": "https://raw.githubusercontent.com/BVLC/caffe/master/models/bvlc_googlenet/deploy.prototxt"

[2020-07-25 12:15] akineeic commented on #349
Because the request of caffemodel will be blocked when using this modelUrl.

[2020-07-26 08:30] lionkunonly commented on #284
I applied the `Integer to integer widening` function in SIMD in the `v_dotprod` as the following:
[code]

Then I tested the `Resize` kernel with the input `(CV_8UC1,640x480,960x540)`, the time cost is **1.3250ms**, which is similar, and even lower than the performance that utilizing the `wasm_i32x4_shr` and `wasm_i32x4_shl`.

Then I also find that the `Integer to integer widening` function leads t

[2020-07-27 01:22] huningxin commented on #284
I think your implementation is not correct. The tests fail as well.

So please refer to the [v_dotprod cpp implementation](https://github.com/opencv/opencv/blob/master/modules/core/include/opencv2/core/hal/intrin_cpp.hpp#L965) for semantics. And please also refer to [WASM SIMD widen intrinsics](https://github.com/WebAssembly/simd/blob/master/proposals/simd/SIMD.md#integer-to-integer-widening).

[2020-07-27 05:23] lionkunonly commented on #284
@huningxin Hi, Ningxin. I modified the `v_dotprod` as following:
[code]
Now, test errors are eliminated. But I have to use the `wasm_v8x16_shuffle` and `widen intrinsics` together. I get the perf of `Resize` with this implementation. With the input `(CV_8UC1,640x480,960x540)`, the time cost is **1.4792ms**, which is lower than the performance that utilizing the `wasm_i32x4_shr` and `wasm_i32x4_shl

[2020-07-27 08:23] huningxin commented on #284
If there is no improvement, please leave with current implementation which has 1.778X speedup.

[2020-07-27 08:23] #284 closed, assigned to lionkunonly

[2020-07-27 22:55] terfendail commented on #284
I agree with Ningxin that vtune is a good option to almost automatically find out the most important place to check. The other option isn't so powerful but more available is a debugger. You could check a call stack for a breakpoint inside `v_load` to find out the deepest implementation part that use universal intrinsics. Probably that would be the place(or at least one of a few places) to look thr

[2020-07-27 23:00] terfendail commented on #304
I definitely agree that small perf test coverage is a major issue we have to deal with. Anyway we can't go further with performance improvement until we have the tool to measure the progress.

[2020-07-29 03:22] lionkunonly commented on #304
There are two more frequently used kernels:
- [ ] addWeighted
- [ ] add

I also I want to add perf tests for them.

[2020-07-30 22:28] terfendail commented on #304
While these kernels are used really often they are quite simple. So they use just a few universal intrinsics which are also quite simple.
It could be interesting to check the performance against the c++ baseline, but WASM version probably couldn't be optimized further. As far as I could remember addition and multiplication both are mapped to single WASM intrinsic so there is no place for improveme

[2020-07-31 15:10] akineeic commented on #314
The whole process  is similar to image classification, except the post processing.  The processing information mainly includes input size, mean, std, RGB or BGR, output type and the labels txt file . The models predict correctly yet are as follows:

- caffe

Model | input size | mean | std | rgb | output type | labels txt
:------------: | :-------------: | :-------------: | :-------------: | :----

[2020-08-03 07:15] lionkunonly commented on #304
Record performance data in this issue. And compare the performance data with native opencv with the scalar version and the SIMD version.

[2020-08-03 07:26] lionkunonly commented on #303
I do not know what should I do in this issue. Cloud you introduce more details?

[2020-08-05 14:08] lionkunonly commented on #304
In the process of developing perf test for `filter2D`. I find there is a binding error for opencv.js. This error happens on the API `cv::randu`.

In the native opencv, the parameters of `randu` is `void cv::randu(InputOutputArray dst, InputArray low, InputArray high)`. But in the opencv.js, it is `void randu_wrapper(cv::Mat& arg1, const cv::Mat& arg2, const cv::Mat& arg3)`, and it just use the `Ma

[2020-08-08 10:18] lionkunonly commented on #304
Performance test:
| Kernel  | Scalar |  Threads(thread=12) |  SIMD  | Threads(threads=12) + SIMD |
| ------ |-------| ----------| -----| ------|
| filter2d (1920x1080,3,BORDER_CONSTANT) |  78.64 | 79.19 | 18.13 |  18.08 |
| Sobel (640x480, CV_16SC1, (0,1), BORDER_REPLICATE) ksize=5 | 1.57 | 1.50 | 0.88 | 0.84 |

**Environment: Ubuntu 18.04, Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz, chrome dev 85.0.

[2020-08-10 02:46] #318 closed, assigned to akineeic

[2020-08-10 02:46] #317 closed, assigned to akineeic

[2020-08-10 02:48] #315 closed, assigned to akineeic

[2020-08-10 02:55] huningxin opened #366 "[dnn] add model info json to all tutorials"
- [x] semantic segmentation
- [x] object detect
- [x] style transfer
- [x] pose estimation

[2020-08-10 02:55] #311 closed, assigned to akineeic

[2020-08-10 02:56] #319 closed, assigned to akineeic

[2020-08-10 02:56] #314 closed, assigned to akineeic

[2020-08-10 02:59] huningxin opened #367 "[dnn] create PR to opencv official repo"

[2020-08-10 03:00] huningxin opened #368 "[dnn] add camera based object detection tutorial"

[2020-08-10 03:40] huningxin commented on #367
@akineeic , please work on this task first. The PR is based on the current code of https://github.com/huningxin/opencv/tree/gsoc_2020_dnn and target https://github.com/opencv/opencv/tree/3.4

[2020-08-10 03:45] akineeic commented on #320
Since the example in python need to [load model weight](https://github.com/opencv/opencv/blob/master/samples/dnn/colorization.py#L28-L33) from a `npy` file. But the related API isn't enabled in opencv.js. So I don’t consider deploying this example for now.

[2020-08-10 03:45] #320 closed, assigned to akineeic

[2020-08-16 05:42] lionkunonly commented on #268
@huningxin  Hi, Ningxin. I am not sure what should I do to implement such a loader. Could you give some suggestions or some reference?

[2020-08-17 02:08] huningxin commented on #268
A reference: https://github.com/GoogleChromeLabs/wasm-feature-detect

[2020-08-18 06:42] lionkunonly commented on #268
Thanks for your suggestions. Let me check my plan for the implementation.

Firstly, I think I need to build multiple versions of the `opencv.js`. For example, if the user builds the `opencv.js` with command `--simd` and `--threads`, I need to build 4 versions of opencv.js. The 4 versions are **scalar version**, **threads version**, **simd version** and **threads+simd version** .
Secondly I need to

[2020-08-18 06:56] huningxin commented on #268
Your plan sounds good to me. @terfendail for more comments.

[2020-08-18 07:59] huningxin commented on #303
This issue is related to https://github.com/WebAssembly/simd/issues/196. We agreed to remove from this GSoC scope.

[2020-08-18 08:04] huningxin commented on #268
Please implement the loader in a separate JS file so other developers can reuse it.

FYI, the `Utils` of OpenCV.js tutorials has [`loadOpenCv`](https://github.com/opencv/opencv/blob/master/doc/js_tutorials/js_assets/utils.js#L6). That could be one usage of of your loader.

[2020-08-18 14:38] terfendail commented on #304
I've check the native implementation - there is no multi-thread support internally for Sobel. So it's expected result to have same performance with and without threads. There is also no multi-thread support in Scharr and Filter2d and blur. For GaussianBlur multi-thread support implemented for 8U bitexact only.

[2020-08-19 01:42] huningxin commented on #312
I think @NALLEIN  is working on this, correct?

[2020-08-19 01:44] huningxin commented on #367
done: https://github.com/opencv/opencv/pull/18064

[2020-08-19 01:44] #367 closed, assigned to akineeic

[2020-08-19 01:44] huningxin commented on #368
Any progress @akineeic ?

[2020-08-19 01:44] huningxin commented on #366
any updates @akineeic ?

[2020-08-19 10:10] NALLEIN commented on #312
Yes, I'm trying to add perf test about conv2d and pool ops.

[2020-08-19 13:42] akineeic commented on #366
Sorry for the late reply. I have updated in the upstream [PR](https://github.com/opencv/opencv/pull/18064). Or should I create a PR in your repo at the same time?

[2020-08-19 13:46] akineeic commented on #368
Sorry for the late reply. I have updated in the upstream [PR](https://github.com/opencv/opencv/pull/18064).

[2020-08-19 14:20] huningxin commented on #368
That's good. It would be better you update the progress in the upstream PR.

[2020-08-19 14:21] huningxin commented on #366
No. Please just update the progress in the upstream PR. Thanks!

[2020-08-19 14:41] huningxin commented on #312
Thanks @NALLEIN . I'll add you into the assignees. @akineeic , you are still welcome to contribute to this work.

[2020-08-20 08:33] lionkunonly commented on #304
@terfendail I find that the kernel `buildPyramyd` is not supported in `opencv.js`. I think this kernel should be skipped. Could you give your suggestions?

[2020-08-20 09:10] terfendail commented on #304
I think it's OK to skip `buildPyramid` in that case

[2020-08-20 13:06] lionkunonly commented on #268
@huningxin In the implementation of loader, I meet a block at the opencv.js. In my investigation, the opencv.js building takes two stages:  `cmake` stage and `make` stage. In the `cmake` stage, the configuration for `wasm`, `threads` and `simd` is fixed. Thus, to build multiple versions of opencv.js, I have to take the `cmake` stage and `make` stage multiple times.

For example, If the user builds

[2020-08-21 02:51] huningxin commented on #268
As my experience, I manage different configuration and builds in different folders such as `build_wasm`, `build_simd`, `built_mt` and `build_mt_simd`.

[2020-08-21 03:38] lionkunonly commented on #268
In this way, the `cmake` stage and `make` stage will be taken four times. Am I right? Do you think the execution of `cmake` and `make` have to be taken multiple times invetablly?

[2020-08-21 04:45] huningxin commented on #268
For my practice, it is. I guess there are rooms to improve. However, I think this compilation optimization is not in the scope of your current task. You just need to build the four versions of opencv.js and focuses on creating a helper javascript file to load the right opencv.js depending on browser features.

[2020-08-21 06:02] lionkunonly commented on #268
Ok, I understand. Thanks for your suggestions.

[2020-08-21 09:13] lionkunonly commented on #268
@huningxin Hi, Ningxin. Is there a good way to check if a local file exist? I want to check if the `build_mt_simd/opencv.js` exist so that I can choos which one to load. If it does not exist, I may choose to load the `build_simd/opencv.js` or `build_mt/opencv.js`.

[2020-08-22 07:29] lionkunonly commented on #304
@huningxin @terfendail  I want to check the configuration for native perf tests. For the `Native(scalar)`, it only uses the CPU optimization with `SSE2`. For the `Native(simd)`, it uses all CPU optimization. Is it right? Or the `Native(scalar)` takes no optimization and the `Native(simd)` only uses `SSE2`.

I think the first option is more reasonable.

[2020-08-23 13:23] lionkunonly commented on #304
[Perf data](https://docs.google.com/spreadsheets/d/1lVPdlLLSET1WT7yJZquSLcBgDcVtaExAbFk6Boxwjoo/edit?usp=sharing) is here. You can check out it to know the gap between the performance of opencv.js and the native. The result in Google Drive is supported comment, now.

[2020-08-24 02:58] #366 closed, assigned to akineeic

[2020-08-24 02:58] #368 closed, assigned to akineeic

[2020-08-24 03:00] huningxin commented on #344
tracked by #349

[2020-08-24 03:00] #344 closed, assigned to akineeic

[2020-08-24 03:01] huningxin commented on #312
@lionkunonly , please see anything you can help @NALLEIN to complete this task, thank!

[2020-08-24 03:04] huningxin opened #371 "[DNN] create project final report and video"

[2020-08-24 07:40] huningxin opened #372 "[SIMD] create the final project report and video"

[2020-08-24 08:09] #301 closed, assigned to lionkunonly

[2020-08-24 08:09] #307 closed, assigned to lionkunonly

[2020-08-24 08:10] #304 closed, assigned to lionkunonly

[2020-08-25 01:58] huningxin opened #373 "[GPU] create the final project report and video"

[2020-08-25 02:42] #329 closed, assigned to nobody

[2020-08-25 02:42] #327 closed, assigned to nobody

[2020-08-25 04:33] huningxin commented on #373
example project report: https://gist.github.com/Wenzhao-Xiang/8636e239c20e0eda839833f9d363828e
example video: https://www.youtube.com/watch?v=ertdEzqE6bI&feature=youtu.be

[2020-08-28 12:10] lionkunonly commented on #372
@huningxin @terfendail  Hi, Ningxin and Vitaly. My final report has been completed without the demos. You can check it here [Project Report](https://gist.github.com/lionkunonly/bbb50a839faf7acd1543f142d45254f6). You can leave your comments on the copy file I stored in the Google driver here [Report in Google drive](https://docs.google.com/document/d/1cZ9vbZca7uhwTpzo1mNYfbBkfWAPF-iFo6rbNQph4uo/edi

[2020-09-02 15:14] akineeic commented on #371
@huningxin  You can check my [report](https://gist.github.com/akineeic/61c1f548350fa8dc99f174ed1f06cce8)  in gist. Could you please take a look, any suggestion is welcomed sincerely.

[2020-09-02 23:53] huningxin commented on #371
Are you able to provide the inference time for threads and simd builds, including threads, simd and threads+simd? Thanks!

[2020-09-03 00:33] akineeic commented on #371
Fine I'll do it later.

[2020-09-09 12:04] NALLEIN commented on #330
Done in upstream [PR](https://github.com/opencv/opencv/pull/18066).

[2020-09-09 12:04] #330 closed, assigned to nobody

[2020-09-09 12:05] NALLEIN commented on #356
Done in upstream [PR](https://github.com/opencv/opencv/pull/18066).

[2020-09-09 12:05] #356 closed, assigned to NALLEIN

[2020-09-09 12:07] NALLEIN commented on #373
[GSoC report](https://gist.github.com/NALLEIN/d7e0357574a958b7a8edb442e3488271)
[Demo](https://nallein.github.io/opencvjs/index.html) (layer test, requires the latest chrome dev/canary on macOS/windows and enable chrome://flags Unsafe WebGPU)
[Video](https://youtu.be/ZjOEMzp-0ys)

[2020-09-09 12:07] #373 closed, assigned to NALLEIN

[2020-09-11 04:59] akineeic commented on #371
My video report on youtube can be found [here](https://youtu.be/Stbb4hZCkhU).

[2020-09-11 05:18] huningxin commented on #371
Looks good. Thanks much @akineeic !

[2020-09-11 05:18] #371 closed, assigned to akineeic

[2020-10-08 12:58] aastha19 opened #374 "Opencv JS file size"
Hello,

I am trying to use certain functions of OpenCV js in my code. But the size of the entire OpenCV js file is too big to be used as it is.
Is there any way to only keep certain functionalities and create a custom file?
Or is there a lightweight version available?

opencv version: 3.4

[2020-10-09 00:02] huningxin commented on #374
Hello,

You can configure the exported functions by https://github.com/opencv/opencv/blob/master/platforms/js/opencv_js.config.py#L82.

[2020-11-10 19:16] Jiiiaqi-l commented on #374
Hi,
Could you add some instructions on how to export dynamically? That would be helpful.

[2021-06-30 02:21] huningxin opened #375 "[WEBNN] Test cmake detect webnn with invalid path"

[2021-06-30 02:22] huningxin opened #376 "[WEBNN] Test webnn cmake by reading README.md"
@MarkGHX

Please share with me the repo and README.md. I'd like to test on my side.

[2021-06-30 02:23] MarkGHX commented on #376
@huningxin

Hi Ningxin, the link of README.md is https://github.com/MarkGHX/opencv/tree/master/modules/dnn/src/webnn. Please check it. Thanks!

[2021-06-30 02:27] huningxin opened #377 "[WEBNN] Create the WebnnBackendWrapper"

[2021-06-30 02:27] huningxin opened #378 "[WEBNN] Create the WebnnBackendNode"

[2021-06-30 02:28] huningxin opened #379 "[WEBNN] Implement forwardWebnn"

[2021-06-30 02:31] huningxin opened #380 "[WEBNN] integrate webnn backend into dnn.cpp"

[2021-06-30 02:33] huningxin opened #381 "[WEBNN] implement initWebnnAPI for ReLUFunctor"
Pass the layer test for relu. Make sure the it runs on top of WebNN relu implementation.

[2021-06-30 02:36] huningxin commented on #381
https://github.com/MarkGHX/opencv/blob/master/modules/dnn/src/layers/elementwise_layers.cpp#L293

[2021-06-30 02:37] huningxin commented on #377
https://github.com/MarkGHX/opencv/blob/master/modules/dnn/src/ie_ngraph.hpp#L112

[2021-06-30 02:38] huningxin commented on #377
tflite webnn delegate: https://github.com/huningxin/tensorflow/tree/webnn_delegate/tensorflow/lite/delegates/webnn

[2021-07-02 03:46] huningxin commented on #375
@MarkGHX , do you have any updates? Did you happen to test it?

[2021-07-02 03:47] huningxin commented on #376
Hi @MarkGHX , there is a typo "DNN_BACKEND_WEBGPU". Do you mean DNN_BACKEND_WEBNN?

[2021-07-02 03:57] huningxin commented on #376
Please use the public repo link of webnn-native: https://github.com/webmachinelearning/webnn-native

[2021-07-02 03:59] huningxin commented on #376
I didn't set `WEBNN_NATIVE_DIR`, but there is no error reporting when I executed `cmake -D CMAKE_BUILD_TYPE=Release -DWITH_WEBNN=ON -D CMAKE_INSTALL_PREFIX=/usr/local ..`

[2021-07-02 03:59] huningxin commented on #376
@MarkGHX , please take a look at above three issues. Thanks!

[2021-07-02 04:43] MarkGHX commented on #375
@huningxin Hi Ningxin, I have tested the codes in the webnn tflite delegate. However, the function webnnProcSetProcs() cannot be compiled successfully. To solve this, I first doubt that this is because webnn_proc.h is not included correctly. However, when I only left the codes #include<...>, the webnn.cpp can be compiled. And I also tried to change the include dirs to avoid potential conflicts, bu

[2021-07-02 04:54] MarkGHX commented on #376
@huningxin Hi NIngxin, I have fixed the typo and the link issue in the README.md.

[2021-07-02 04:58] MarkGHX commented on #376
I also changed the compile command in the README.md to fit the official doc. Using the new commanad, if I did not export WEBNN_NATIVE_DIR, the code could not be compiled successfully. And after I export the WEBNN_NATIVE_DIR, the code could be compiled.

[2021-07-02 06:12] huningxin commented on #376
@MarkGHX Thanks for the update. I'd like to keep reviewing and commenting your code. Could you please create a PR to this branch https://github.com/huningxin/opencv/tree/gsoc_2021_webnn?

[2021-07-02 06:22] MarkGHX commented on #376
@huningxin Hi Ningxin, I've created a PR to gsoc_2021_webnn branch. Please check it. Thanks!

[2021-07-02 06:50] huningxin commented on #376
Great, I've left some comments there. Please take a look. Thanks.

[2021-07-05 03:37] huningxin commented on #375
I believe this is fixed by #382 . Please help verify. If it is fixed, please close this issue. Thanks.

[2021-07-05 03:38] huningxin commented on #376
closed by #382

[2021-07-05 03:38] #376 closed, assigned to huningxin, MarkGHX

[2021-07-05 08:57] MarkGHX commented on #375
Sorry for this late reply, since the lab was under cleaning today. The codes works on my laptop. Thanks a lot! After including libwebnn_proc.so, the MLContext can be initialized successfully.

[2021-07-05 08:57] #375 closed, assigned to MarkGHX

[2021-09-18 06:01] #372 closed, assigned to lionkunonly

[2021-09-18 06:01] #268 closed, assigned to lionkunonly

[2021-12-10 03:26] delete1226 opened #391 "Cannot enlarge memory arrays. Either (1) compile with -s TOTAL_MEMORY=X with X higher than the current value 1895825408, (2) compile with -s ALLOW_MEMORY_GROWTH=1 which allows increasing the size at runtime but prevents some optimizations, (3) set Module.TOTAL_MEMORY to a higher value before the program runs, or (4) if you want malloc to return NULL (0) instead of this abort, compile with -s ABORTING_MALLOC=0"
Cannot enlarge memory arrays. Either (1) compile with  -s TOTAL_MEMORY=X  with X higher than the current value 1895825408, (2) compile with  -s ALLOW_MEMORY_GROWTH=1  which allows increasing the size at runtime but prevents some optimizations, (3) set Module.TOTAL_MEMORY to a higher value before the program runs, or (4) if you want malloc to return NULL (0) instead of this abort, compile with  -s